<div id="dynamicContent">
    <div id="cartMainContent">
        <div id="guestCartInfo">
            <div id="callToOrder">Call to Order Now: 760-722-1300</div>
            <div id="referenceQuote">Reference Quote#: SQ1045</div>
            <div id="callText">A representative will assist you to complete your order.</div>
            <div id="home" class="quoteActionButtonsLeft">Add Door</div>
            <div id="startOver-guest" class="quoteActionButtons">Start Over</div>
            <div id="emailGuestQuote" class="quoteActionButtons">Email Quote</div>
            <div id="printGuestQuote" class="quoteActionButtons">Print Quote</div>
        </div>
        <div id="salesPersonCartInfo">
            <div id="home-sales" class="quoteActionButtonsLeft">Add Door</div>
            <div id="startOver-sales" class="quoteActionButtons">Start Over</div>
            <div id="saveAsQuote" class="quoteActionButtons">Save As Quote</div>
            <div id="viewQuotes-sales" class="quoteActionButtonsWide">Close Without Saving</div>
        </div>
    </div>
</div>

<div id="cartFooter">
    <div id="cartFooterLeft"></div>
    <div id="cartFooterCenter"></div>
    <div id="cartFooterRight"></div>
</div>
