<div id="chooseCustomer">
    <div class="title">Choose Customer Type</div>
    <div class="sectionBlock">
        <div id="customerTypes" class="finishMenu">
            <div id="previousCustomer" class="finishMenuItem" data-finish='no'>Previous Customer</div>
            <div id="newCustomer" class="finishMenuItem myGreen" data-finish='exterior'>New Customer</div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div id="addNewCustomer">
    <div class="title">Customer Info</div>
    <div class="sectionBlock">
        <div class="leftSideAddressGroup">
            <div class="sectionTitle">Personal Info</div>

            <div class="customerLabel"> Lead Source 2 (Required)</div>
            <input id="leadSource" class="customerInput" type="text" name="leadSource"  value=""/>

            <div class="customerLabel">First Name</div>
            <input class="customerInput" type="text" name="firstName"  value=""/>

            <div class="customerLabel">LaLead Source (Requiredst Name</div>
            <input class="customerInput" type="text"  name="lastName"  value=""/>

            <div class="customerLabel">Company Name (optional)</div>
            <input class="customerInput" type="text" name="companyName"   value=""/>

            <div class="customerLabel">Email</div>
            <input class="customerInput" type="text"  name="email"   value=""/>

            <div class="customerLabel">Phone (optional)</div>
            <input class="customerInput" type="text"  name="phone"   value=""/>
        </div>


        <div class="rightSideAddressGroup">
            <div class="sectionTitle">Delivery (optional)</div>

            <div class="customerLabel">Delivery Address1</div>
            <input class="customerInput" type="text" name="jobAddress1"   value=""/>

            <div class="customerLabel">Delivery Address2</div>
            <input class="customerInput" type="text" name="jobAddress2"   value=""/>


            <div class="customerLabel">Delivery Town / City</div>
            <input class="customerInput" type="text" name="jobCity"   value=""/>

            <div class="customerLabel">Delivery County</div>
            <input class="customerInput" type="text" name="jobState"   value=""/>

            <div class="customerLabel">Delivery Post Code</div>
            <input class="customerInput" type="text"  name="jobZip"   value=""/>
        </div>
    </div>
</div>


<div id="searchCustomer">
    <div class="title">Choose Previous Customer</div>
    <div class="sectionBlock">
        <div id="searchBox">
            <img id="searchIcon" src="/images/icons/search.svg">
            <input id="search" type="text" name="search"  placeholder="Search customer name" value=""/>
        </div>
        <div id="searchResults"></div>
    </div>
</div>


<div id="saveQuote">
    <div class="nextButton" onclick="saveQuote()">
        <div class="nextTitle">Save Quote</div>
        <div class="nextImage">
            <img src="images/nav/icon-next.svg">
        </div>
    </div>
</div>
<div class="spacer"></div>