<div id="dynamicContent">
    <div id="myExtras">
        <div>
            <div class="title">Choose Sill Type</div>
            <div id="sillChoices" class="sectionBlock">
            </div>
        </div>

        <div id="chooseAddons">
            <div class="title">Choose Add-ons</div>
            <div id="addOnChoices" class="sectionBlock">

            </div>
        </div>

        <div id="chooseTricleVent">
            <div class="title">Choose Trickle Vent</div>
            <div id="trickleChoices" class="sectionBlock">
            </div>
        </div>
        <div id="chooseTrickleVentColor">
            <div class="title">Choose  Trickle Vent Color</div>
            <div id="trickleColors" class="sectionBlock">
            </div>
        </div>
    </div>

</div>
<div id="nextSection">

</div>

<div id="copyWriteFooter"></div>

</div>
