<div id="dynamicContent">
    <div id="myGlass">
        <div>
            <div class="title">Choose Glass Type</div>
            <div id="glassChoices" class="sectionBlock">
            </div>
        </div>

        <div id="chooseGlassOptions">
            <div class="title">Choose Glass Options</div>
            <div class="glassNote"></div>
            <div id="glassOptions" class="sectionBlock">

            </div>
        </div>
    </div>
    <div id="nextSection">

    </div>

    <div id="copyWriteFooter"></div>

</div>
