<div>
    <div class="title"><P>Choose Installation Options</P></div>
    <div id="installationOptions" class="sectionBlock">
    </div>
</div>


<div id="nextHardware" >
    <div class="nextButton" onclick="addToCart()">
        <div id="nextHardwareTitle" class="nextTitle"></div>
        <div class="nextImage">
            <img src="images/nav/icon-next.svg">
        </div>
    </div>
</div>


<div id="copyWriteFooter"></div>

