<div id="dynamicContent">
    <div id="myGlass">
        <div>
            <div class="title">Dynamic Openers</div>
            <div id="glassChoices" class="sectionBlock">
            </div>
        </div>


    </div>
    <div id="nextSection">

    </div>

    <div id="copyWriteFooter"></div>

</div>
