<div id="chooseProduct">
    <div class="title">Select a Door Type:</div>
    <div class="sectionBlock">


        <div class="moduleOption">
            <div class="productButton" id="Veka Vinyl Door-13">
                <div class="productImage" ><img src="images/products/Vinyl Door.svg" width="250" height="250"></div>
                <div class="productLabel">Veka Vinyl</div>
            </div>
            <div class="productNote1">Maximum Size:</div>
            <div class="productNote2">Width 6 Meters, Height 2.5 Meters</div>
            <div class="productNote3">Made with high quality thermally efficient vinyl, the Absolute Panoramic Door is our entry level door. All the hardware components are the same as the ThermalClad</div>
        </div>

        <div class="moduleOption">
            <div class="productButton" id="Deceuninck Viny Door-10">
                <div class="productImage" ><img src="images/products/Vinyl Door.svg" width="250" height="250"></div>
                <div class="productLabel">Deceuninck Viny</div>
            </div>
            <div class="productNote1">Maximum Size:</div>
            <div class="productNote2">Width 6 Meters, Height 2.5 Meter</div>
            <div class="productNote3">Made with high quality thermally efficient vinyl, the Absolute Panoramic Door is our entry level door. All the hardware components are the same as the ThermalClad</div>
        </div>


        <div class="moduleOption">
            <div class="productButton" id="ThermalClad Door-1">
                <div class="productImage" ><img src="images/products/Clad Door.svg" width="250" height="250"></div>
                <div class="productLabel">ThermalClad</div>
            </div>
            <div class="productNote1">Maximum Size:</div>
            <div class="productNote2">Width 6 Meters, Height 2.5 Meter</div>
            <div class="productNote3">The ThermalClad door has a re-enforced vinyl core with the option of aluminum or wood cladding. This door offers an aluminum surface with superior thermal efficiency.</div>
        </div>


    </div>
</div>

<div id="copyWriteFooter"></div>

<div class="spacer"></div>
