<div id="chooseProduct">
    <div class="title">Select a System Type:</div>
    <div id ="doors" class="sectionBlock">

    </div>
</div>

<div id="copyWriteFooter"></div>

<div class="spacer"></div>
