<div id="dynamicContent">
    <div id="chooseDimensions">
        <div class="title">Choose Dimensions:</div>
        <div class="sectionBlock">
            <div class="dimensionNote"><B>Proper sizing.</B> We recommend that your door system be <B>20mm narrower</B> and <b>20mm shorter</b> than your opening to allow for needed adjustments when installing.
            </div>
            <!--<div id="customNote" class="dimensionNote">NOTE2: This is a note.... 600px wide.atione voluptatem sequi nesciunt. consectetur,-->
            <!--adipisci velit, sed quia non numquam eius m-->
            <!--</div>-->
            <div id="dimensionsInput">
                <div id="widthInput">
                    <div id="widthNote">Width (round to nearest mm)</div>
                    <input class="textBox" type="text" id="width" value=""/>

                    <div id="widthInch">mm</div>
                    <div id="widthError"></div>
                </div>


                <div id="heightInput">
                    <div id="heightNote">Height (round to nearest mm)</div>
                    <input class="textBox" type="text" id="height" value=""/>

                    <div id="heightInch">mm</div>
                    <div id="heightError"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="windowOptionsSection">
        <div class="title">Choose Configuration of Windows:</div>
        <div class="sashNote">Click and choose and cool stuff to make you feel better</div>
        <div id="windowOptions">
            </div>
    </div>

    <div id="windowBuilderSection">
        <div class="title">Choose Size of Windows and Openers:</div>
        <div class="sashNote">So much you can do. Yay.</div>
        <div id="windowBuilder">



        </div>
        <div id="operations">
            <div id="none" class="operation hingeBorder">
                <img width="100%" height="100%" src="/images/openers/white/noneWhite.svg">
            </div>
            <div id="hingeBottom" class="operation hingeBorder">
                <img width="100%" height="100%" src="/images/openers/white/hingeBottomWhite.svg">
            </div>
            <div id="hingeTop" class="operation hingeBorder">
                <img width="100%" height="100%" src="/images/openers/white/hingeTopWhite.svg">
            </div>
            <div id="hingeRight" class="operation hingeBorder ">
                <img width="100%" height="100%" src="/images/openers/white/hingeRightWhite.svg">
            </div>
            <div id="hingeLeft" class="operation hingeBorder">
                <img width="100%" height="100%" src="/images/openers/white/hingeLeftWhite.svg">
            </div>
        </div>

        <div id="windowCutSheet" class="quoteActionButtonsTemp" title="Print Cut Sheet">Print Cut Sheet</div>
        <div id="cutSheetPrintOut"></div>
    </div>
    <div id="nextSection">
    </div>
    <div id="copyWriteFooter"></div>

    <div class="spacer"></div>
</div>





