<div id="signMainContent">
    <div id="signSwitcher">
        <div id="signInSwitcher">Sign In</div>
        <div id="signUpSwitcher">Sign Up</div>
    </div>
    <div id="signSwitchContent">

        <div id="emailLabel">Email Address</div>
        <input class="emailSignIn" type="text" id="email" value=""/>

        <div id="passwordLabel">Password</div>
        <input class="passwordSignIn" type="password" id="password" value=""/>
        <div id="rememberMeCheckBox">	<input id="rememberMe" type="checkbox" name="rememberMe" value="yes"> 2 Remember Me</div>
        <div id="errorMessageLogin"></div>
        <div id="signInButton">Sign In</div>
        <!--<div id="forgotPassword">Forgot Password</div>-->

        <div id="proceedAsGuest">Proceed As a Guest</div>
    </div>

    <div id="copyWriteFooter"></div>

    <div class="spacer"></div>

</div>

