<div id="firstNameLabel" class="signUpLabel">First Name</div>
<input class="signUpField" type="text" id="firstName" value=""/>

<div id="lastNameLabel" class="signUpLabel">Last Name</div>
<input class="signUpField" type="text" id="lastName" value=""/>

<div id="emailSignUpLabel" class="signUpLabel">Email Address</div>
<input class="signUpField" type="text" id="emailAddress" value=""/>

<div id="passwordSignUpLabel" class="signUpLabel">Password</div>
<input class="signUpField" type="password" id="password" value=""/>

<div id="signUpButton">Sign Up</div>