<div id="dynamicContent">
    <div id="chooseDimensions">
        <div class="title">Choose Dimensions:</div>
        <div class="sectionBlock">
            <div class="dimensionNote"><B>Proper sizing.</B> We recommend that your door system be <B>20mm narrower</B> and <b>20mm shorter</b> than your opening to allow for needed adjustments when installing.
            </div>
            <!--<div id="customNote" class="dimensionNote">NOTE2: This is a note.... 600px wide.atione voluptatem sequi nesciunt. consectetur,-->
                <!--adipisci velit, sed quia non numquam eius m-->
            <!--</div>-->
            <div id="dimensionsInput">
                <div id="widthInput">
                    <div id="widthNote">Width (round to nearest mm)</div>
                    <input class="textBox" type="text" id="width" value=""/>

                    <div id="widthInch">mm</div>
                    <div id="widthError"></div>
                </div>


                <div id="heightInput">
                    <div id="heightNote">Height (round to nearest mm)</div>
                    <input class="textBox" type="text" id="height" value=""/>

                    <div id="heightInch">mm</div>
                    <div id="heightError"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="sizePanelsOptions">


        <div id="chooseFrame">
            <div class="title"><P>Choose Frame Type:</P></div>
            <div class="sizeNote"><b>New construction or Retro-fit?</b> Select the frame that you believe best fits your needs.
                If you are not sure what track is right for your job, select the one you think is best. You will be able to change
                the track type before your order is processed. All frames are the same cost.</div>

            <div id="chooseFrameSection" class="sectionBlock">

            </div>
        </div>

        <div id="chooseTrack">
            <div class="title"><P>Choose Track Type:</P></div>
            <div class="sizeNote"><b> There are two track types: </b> With weather-barrier upstand, and without weather-barrier upstep.
                As the name suggest, the track with the upstep will give optimal protection against wind and water intrusion.</div>
            <div id="chooseTrackSection" class="sectionBlock">

            </div>
        </div>

        <div id="choosePanels">
            <div class="title">Choose Number of Panels:</div>
            <div id="panelSection" class="sectionBlock">

            </div>
        </div>

        <div id="chooseSwings">
            <div class="title">Choose Swing Door Option & Position:</div>
            <div class="sizeNoteMulti">Select 1 or 2 swing doors and their placement: Your door system can have
                either one or two sing doors. Select either swing door on left, right, or both. </div>
            <div class="sizeNoteRed">CAUTION!: Images are of door as viewed from outside looking in.</div>
            <div id="swingSection" class="sectionBlock" data-section="Swing Doors">

            </div>
        </div>

        <div id="panelMovement">
            <div class="title"><P>Panel Movement:</P></div>
            <div class="sizeNoteMulti"><b>Panel slide-n-pivot options:</b> The sliding panels of your system will slide toward and pivot out beside your swing door. If you have selected 2 swing doors, you can choose side you would like the panels to stack.</div>
            <div id="panelMovementSection" class="sectionBlock">

            </div>
        </div>

        <div id="swingDirection">
            <div class="title"><P>Choose Swing Direction:</P></div>
            <div class="sizeNoteMulti"><b>Out-swing or In-swing:</b> Select wether you want your doors to swing and stack on the outside, or on the inside. Note, with the "Nail-fin" frames and the "Retro-fin" frame there is only an outswing option.</div>
            <div id="swingDirectionSection" class="sectionBlock">

            </div>
        </div>


        <div id="nextColorFinish">
            <div class="nextButton" onclick="processClick('color')">
                <div class="nextTitle"> COLOUR / FINISH</div>
                <div class="nextImage">
                    <img src="../images/nav/icon-next.svg">
                </div>
            </div>
        </div>
    </div>
    <div id="copyWriteFooter"></div>

    <div class="spacer"></div>
</div>





