<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /><!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" /><!--<![endif]-->
        <style type="text/css">
            .wrapper{
                width: 1024px;
                padding: 0 40px;
                margin: 0 auto;
            }
            img{
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="image">
                <img border="0" src="{imagesUrl}/email/door-ready-1.jpg" alt="" />
            </div>
            <div class="image">
                <img border="0" src="{imagesUrl}/email/door-ready-2.jpg" alt="" />
            </div>
            <div class="image">
                <img border="0" src="{imagesUrl}/email/door-ready-3.jpg" alt="" />
            </div>
        </div>
    </body>
</html>