.accountTitle {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  margin-top: 170px;
}
#salesAdminDefaults {
  margin-top: 20px;
  height: 600px;
}

.ordersPullDown {
  width: 50px;
  height: 20px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-color: #378ed7;
  border-style: solid;
  font-size: 12px;
}

.confirmPaymentLink {
  width: 90px;
  cursor: pointer;
}

 .accountingTable {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 170px;
  margin-bottom: 44px;
  line-height: 30px;
  font-size: 13px;
}

table.accountingTable td{

  //height: 35px;
  line-height:16px;
  vertical-align: middle;

}

table.accountingTable th {
  background-color: #c4c4c4;
  vertical-align: middle;
  height: 55px;
  line-height: 16px;

}

.fixedThinColumn {
  width: 80px;

}
.fixedWideColumn {
  width: 120px;
  font-size: 12px;

}

.accountRowTitle, .accountRowTotals {
  width: 956px;
  float: left;
  height: 30px;
  line-height: 30px;
  background-color: #c4c4c4;
  font-size: 14px;
}

.accountRowTotals {
  //margin-bottom: 15px;
  background-color: #680000;
  color: white;
}

.accountRow {
  width: 956px;
  float: left;
  //height: 55px;
  line-height: 55px;
  font-size: 14px;
}


.accountCell1,.accountCell2,.accountCell3,.accountCell4,.accountCell5,.accountCell6,.accountCell7,
.accountCell8,.accountCell9, .accountCell1Clean, .accountCell10,.accountCell11
{
  float: left;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accountCellUKPayment
{
  float: left;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

.ukPaymentSpecial {
  float: left;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 251px;
}

.accountCell1Clean {
  width: 84px;
}
.accountCell10,.accountCell11
{
  width: 70px;
  float: left;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

.accountCell1 {
  width: 84px;
  text-decoration: underline;
  cursor: pointer;
}
.accountCell2, .accountCell3, .accountCell4 {
  width: 80px;
  padding-left: 5px;
  padding-right: 5px;
}
.accountCell4 {
  width: 94px;
}
.accountCell5,.accountCell6 {
  width: 83px;
}
.accountCellUKPayment {
  width: 82px;
}
.accountCell7 {
  width: 83px;
}
.accountCell8, .accountCell9 {
  width: 83px;
}
.accountCell10 {
  width: 65px;
}
.accountCell11 {
  width: 96px;
}

.accountAction {
  width: 87px;
}

.verticalSpace, .verticalSpaceSlim {
  float: left;
  width: 40px;
  height: 44px;
    border-color: #6c6c6c;
    border-style: solid;
    border-width: 0px;
   border-right-width: 1px;
  margin-top: 10px;


}

.verticalSpaceSlim {
  width: 1px;

}

.long {
  height: 122px;
}

.export {
  cursor: pointer;
}