.builderSecondNavBlocks {

  text-align: center;
  border-color: #6c6c6c;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0px;
  height: 42px;
  width: 130px;
  line-height: 44px;
  cursor: pointer;
  float: left;
  margin-bottom: 10px;
}

.builderSecondNavBlocksLast {
  height: 44px;
  width: 0px;
  border-color: #6c6c6c;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  float: left;


}

#builderSecondNav {

  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  float: left;

}