
.extendedHalfButton, .extendedHalfButtonBorderd {
    cursor: pointer;
}

.extendedHalfButton, .extendedHalfButtonBorderd, .extendedHalfButtonDisabled {
    width: 440px;
    min-height: 140px;
    float: left;
    margin: 15px;
}

.extendedHalfButtonImage {
    width: 122px;
    height: 122px;
    float: left;
    /*background-color: #0814aa;*/
    margin-right: 30px;
    position: relative;
    .extendedSelectedDiv {
        z-index: 1;
        margin-top: 0;
        padding-left: 0;
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 21px);
    }
}
.extendedHalfButtonImageBorder {
    width: 120px;
    height: 120px;
    float: left;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin-right: 30px;
}
.extendedHalfButtonTitle {
    width: 260px;
    height: 30px;
    float: left;
    font-family: open_sansbold;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.extendedHalfButtonDescription {
    width: 230px;
    float: left;
    margin-top: -10px;
    /*background-color: #73aaaa;*/

}

.extendedHalfButtonHighlight {
    width: 260px;
    height: 80px;
    float: left;
    margin-top: 0px;
    color: #ff0000;


}

.extendedHalfSelectedDiv {
    height:121px;
    width: 121px;
    /*background-color: #d9db3d;*/
}
.extendedHalfSelectedDiv {
    z-index: 10;
    margin-top: -85px;
    padding-left: 40px;
}



.myButton {
  height: 44px;
  font-size: 16px;
  float: left;
  border-color: #d6d6d6;
  line-height: 44px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  z-index: -10;
  background-color: #fefefe;
  cursor: pointer;
}

.selectedButton {
  background-color: #33a251;
  color: #FFFFFF;

}

.convertToSale, .sendToProduction {
  width: 200px;
  float: left;
}

.contractButton{
    padding: 0 15px;
}


.editCustomer {
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  width: 40px;
  float: left;
  margin-right: 10px;
}

.changeCustomer {
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  width: 140px;
  float: left;
}


.convertToSaleRight,.sendToProductionRight {
  width: 200px;
  float: right;

}

.convertToSale2 {
  width: 200px;
}

.addPaymentButton {
  margin-top: 17px;
  height: 44px;
  width: 150px;
  font-size: 16px;
  float: right;
  border-color: #d6d6d6;
  line-height: 44px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  z-index: -10;
  background-color: #fefefe;
  cursor: pointer;
  margin-bottom: 10px;

}

#panelButtonsBox, #swingSection, #panelMovementSection {
  margin-left: 15px;
}


.attachToQuote {
  margin-top: 17px;
  height: 38px;
  width: 150px;
  font-size: 16px;
  float: left;
  border-color: #d6d6d6;
  line-height: 38px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  z-index: -10;
  background-color: #fefefe;
  cursor: pointer;
  margin-bottom: 10px;

}