.cartRowTitle {
  width: 956px;
  float: left;

}

#callToOrder {
  font-weight: bold;
  font-size: 22px;
}

#referenceQuote {
  font-weight: bold;
  font-size: 14px;
}

#callText {
  font-size: 14px;
  margin-bottom: 10px;
}

.fracka {

}

.cartRow {
  width: 952px;
  float: left;
  margin-top: 0px;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  margin-bottom: 60px;
}

.cartRow.print{
  margin-bottom: 0px;
}

.cartDescription, .cartIcons, .cartItem, .cartPrice, .cartPriceTitle, .cartQuantity {
  float: left;
  font-size: 24px;
  padding-bottom: 10px;
  font-family: open_sanslight;
}

.guestEditBox {
  width: 300px;
  float: right;
  font-size: 16px;
  margin-top: 0px;
}

.guestEdit {
  float: right;
  margin-right: 25px;
}

.guestDelete {
  float: right;
  margin-right: 30px;

}

.cartRowTitle {
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-top: 5px;
  margin-right: 0;
  margin-left: 0;
  width: 945px;
}

.cartItem {
  width: 250px;
  /*background-color: #b8ff59;*/
  float: left;

}

.cartItemBox {
  width: 85%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.cartItemBoxColor {
  margin: 5px;
  height: 99px;
  width: 99px;
  margin-left: auto;
  margin-right: auto;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;

}

.hardwareCart {
  width: 99px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartItemBoxLabel {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0px;

}

.previewButton {
  text-align: center;
  font-size: 18px;
  color: #5db4e3;
  /*background-color: #eee8d5;*/
  width: 110px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border-color: #5db4e3;
  border-width: 1px;
  border-style: solid;

}

.cartDescription {
  width: 250px;
  //    height: 700px;
  /*background-color: #aeffc6;*/
}

.cartDescriptionTitle {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  /*margin-top: 20px;*/
}

.cartDescriptionRowMain {
  width: 100%;
  height: 16px;
  /*margin-bottom: 10px;*/
  font-family: open_sansbold;
  font-size: 14px;
  /*line-height: 10px;*/

}

.cartDescriptionRowSecond, .cartDescriptionRowThird {
  width: 100%;
  margin-bottom: 13px;
  font-size: 14px;
}

.panelImage {
  height: 90px;
}

.cartDescriptionRowThird {
  margin-top: -13px;
  width: 250px;
  line-height: 15px;
  margin-bottom: 13px;
  font-size: 10px;
  font-weight: bold;
}

.quoteSheetLimit {
  margin-left: -40px;
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.cartQuantityWrapper {
  width: 180px;
  text-align: left;
  height: 44px;
  float: right;
  margin-right: 20px;
  /*background-color: #d0e4ff;*/
}

.cartQuantityBox, .cartQuantityLabel {
  font-size: 24px;
  float: right;
  margin-right: 5px;
}

.cartQuantityBox {
  width: 30px;
  line-height: 24px;
  border-color: #ebebeb;
  border-width: 2px;
  border-style: solid;
  margin-top: -2px;
  padding: 7px;
  text-align: right;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
  background-color: #FFFFFF;
}

.cartQuantityLabel {
  line-height: 32px;
  //width: 100px;
  height: 32px;
  text-align: right;
  margin-top: -2px;
}

.cartQuantitySquare {
  width: 45px;
  height: 40px;
  background-color: transparent;
  float: right;
  margin-top: -5px;
  margin-left: -60px;
  position: relative;
  border: 1px solid;
  border-color: #000000;
}

.cartQuantity {
  width: 35px;
  height: 34px;
  line-height: 20px;
  border: 0px;
  text-align: right;
  margin-top: -2px;
  margin-right: 10px;
  margin-left: 5px;
  float: right;
  padding: 0;
  position: relative;

}

.cartPrice {
  font-size: 24px;
  line-height: 34px;
  margin-right: 0px;
  /*background-color: #eabbff;*/
}

.cartPriceTitle {
  font-size: 20px;
  line-height: 34px;
  margin-right: 10px;
}

.cartIcons {
  margin-right: 15px;
  margin-left: 0px;
  cursor: pointer;
  float: right;

  /*background-color: #eabbff;*/
}

.textButtons {
  cursor: pointer;
}

.jobGroup {
  margin-right: 30px;
  width: 346px;
  height: 30px;
  float: right;
  line-height: 30px;
}

.cutSheetBox, .cutSheetBoxDate {
  float: right;
  /*height: 44px;*/
  margin-top: 2px;
  line-height: 18px;
  width: 90px;
}

.jobName {
  height: 20px;
  width: 150px;
  float: right;

  text-align: right;
  padding-right: 5px;
}

.viewCutSheet, .viewCostSheet {
  margin-top: 10px;
  margin-right: 30px;
  width: 180px;
  height: 44px;
  background-color: #797979;
  cursor: pointer;
  float: right;
  line-height: 44px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;

}

table, th, td {
  border: 1px solid #8b8b8b;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
  height: 35px;

}

.centerTable {
  margin: 0px auto;
}

#cartMainContent {
  margin-right: auto;
  margin-left: auto;
  margin-top: 44px;
  width: 960px;
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*height: 200px;*/
  /*background-color: #00aaaa;*/

}

#cartFooter {

  border-style: solid;
  border-top-color: #dcdcdc;
  border-width: 0px;
  border-top-width: 1px;

  height: 44px;
  width: 960px;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;

}

#cartHeader {

  height: 44px;
  width: 960px;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;

  /*border-bottom: 1px;*/
  border-style: solid;
  border-bottom-color: #dcdcdc;
  border-width: 0px;
  border-bottom-width: 1px;

}

#cartFooterLeft, #cartFooterCenter, #cartFooterRight, #cartHeaderLeft, #cartHeaderCenter, #cartHeaderRight {
  width: 310px;
  height: 44px;
  float: left;
  /*background-color: #009926;*/
  line-height: 44px;
  font-size: 20px;
}

#cartWrap {
  width: 150px;
  margin-left: auto;
  margin-right: auto
}

#cartTitle {
  font-size: 20px;
  float: left
}

#cartPerson {
  margin-left: 10px;
  font-size: 18px;
  float: left
}

#cartHeaderLeft, #cartFooterLeft {
  text-align: left;
  padding-left: 10px;
  color: #5db4e3;
  cursor: pointer;
}

#cartFooterCenter, #cartHeaderCenter {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

#cartFooterCenter {
  font-size: 28px;
}

#cartFooterRight, #cartHeaderRight {
  text-align: right;
  padding-right: 10px;
  color: #5db4e3;
}

.cartRowHeaderLeft {
  width: 100%;
  height: 1px;
  float: left;

}

#printLogo {
  margin-top: 15px;
  margin-left: 0px;
  width: 380px;

}

.cartRowHeader {
  font-size: 24px;
  font-family: open_sanslight;
  background-color: #f4f4f4;
  height: 44px;
  line-height: 44px;
  padding-left: 2%;
  width: 98%;
  float: left;
}

.leftHalfTitle {
  width: 50%;
  float: left;
}

.rightHalfTitle {
  width: 20%;
  float: left;
  margin-left: 90px;
}

.cartRowSplitHeader {
  font-size: 24px;
  font-family: open_sanslight;
  background-color: #f4f4f4;
  height: 44px;
  line-height: 44px;
  padding-left: 2%;
  width: 49%;
  float: left;
}

.cartRowHeaderItems {
  width: 208px;
  float: left;
  font-size: 20px;
  position: relative;
}
.doorSystemInactive {
  width: 208px;
  font-size: 16px;
  color: red;
  position: absolute;
  top: 60px;
  left: 0px;

}


.cartBiggerTitle {
  font-size: 22px;
  font-weight: bold;
  float: left;
}

.cartRowHeaderItemsRight {
  width: 158px;
  float: right;
  text-align: right;
  font-size: 18px;
  margin-right: 15px;
}

.cartRowHeaderTitle {
  margin-left: 23px;
  width: 450px;
  float: left;
  text-align: center;
  font-size: 22px;
}

.cartRowPanels {
  width: 100%;
  float: left;
  margin-top: 5px;
}

.cartRowPanelImageHolder {
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  &.doorStyle{
      text-align: center;
      img{
          display: inline-block;
          width:90px;
      }
      .leftExtender{margin-right: -65px;}
      .rightExtender{margin-left: -65px;}
  }
  &.windows{
      text-align: center;
      height: 120px;
  }

  #windowBuilder{
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    overflow: auto;
    transform-origin: top;
    -webkit-transform-origin: top;
    pointer-events: none;
    #topDimension, #verticalSizes, #totalVertical, #bottomDimension{
      display: none;
    }
    #mainFrame{
      float: none;
      margin: auto;
    }
  }
}

.cartRowTitleLower {
  height: 44px;
  width: 100%;
  float: left;
  margin-top: 5px;
  border-top: solid;
  border-top-width: 2px;
  margin-bottom: 10px;
}

.cartRowTitleFinish, .cartRowTitleDescription, .cartRowTitleCostLabel, .cartRowTitleCost {
  height: 44px;
  float: left;
  line-height: 44px;
  font-family: open_sansregular;
  font-size: 20px;

}

.cartRowTitleFinish {
  width: 210px;
  text-align: left;
  padding-left: 40px;

}

.cartRowTitleDescription {
  width: 200px;
}

.cartRowTitleCostLabel {
  width: 380px;
  text-align: right;
  padding-right: 10px;
}

.cartRowTitleCost {
  width: 100px;
  text-align: right;

}

.quoteInstallNotes {
  margin-top: 20px;
  font-size: 10px;
  line-height: 14px;
}

.quoteDealerNotes {
  margin-top: 10px;
  font-size: 10px;
  line-height: 14px;
}

.quoteCustomerApproval {
  margin-top: 20px;
  float: left;
}

.quoteCustomerApprovalNote {
  padding-left: 200px;
  width: 200px;
  float: left;
}

.cartItemSubTotal {
  width: 390px;
  float: right;
  text-align: right;
  margin-right: 27px;

}

.salesTaxNote {
  float: right;
  margin-right: 27px;
  font-size: 12px;
  margin-bottom: 10px;
  width: 300px;
  text-align: right;

}

.salesTaxNotePrint {
  margin-top: -20px;
  float: right;
  font-size: 12px;
  margin-right: 15px;
  width: 300px;
  text-align: right;

}

.textButton {
  cursor: pointer;
}

.noticeBlock {
  margin-top: 40px;
  width: 400px;
  margin-right: 30px;
  float: right;

}

.quoteNotes, .productionNotes {
  width: 100%;
  height: 178px;
  padding: 8px;
  resize: none;
}

.quoteNotesPrint {
  width: 385px;
  height-min: 178px;
  padding: 8px;
  font-size: 12px;
  border: solid;
  border-width: 1px;
  float: left;

}

.notesLabel {
  float: left;
  margin-top: 5px;

}

.guestInfoBox {
  width: 400px;
  float: right;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.guestInfoTitle {
  float: left;
  font-weight: bold;
}

.guestInfoDescription {
  float: left;
}

.cartPanelsTitle {
  float: left;
  width: 200px;
  margin-left: 400px;
  margin-top: 5px;
  color: red;
}