#extColor-customColorBox, #intColor-customColorBox {
  width: 280px;

  float: left;

}

#extColor-customColor, #intColor-customColor {
  margin-left: 15px;
  line-height: 42px;
  font-family: open_sansregular;
  font-size: 20px;
  margin-top: -15px;
  padding-left: 10px;
  float: left;
  width: 269px;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
}

#extColor-customDescription, #intColor-customDescription {
  margin-left: 10px;
  margin-top: 5px;
  line-height: 14px;
  font-family: open_sanslight;
  font-size: 12px;
  padding-left: 10px;
  float: left;
  margin-bottom: 10px;
}

.finishMenuItem {
  height: 44px;
  width: 280px;
  float: left;
  border-color: #d6d6d6;
  line-height: 44px;
  border-style: solid;
  border-width: 1px;
  margin: 15px;
  text-align: center;
  z-index: -10;
}

.vinylColorsWidth {
  width: 280px;
}

.finishMenu {
  //width: 650px;
  float: left;
  cursor: pointer;
}

.finishMenuItemQuestion, .finishMenuItemQuestionYesNo {
  height: 44px;
  width: 124px;
  float: left;
  border-color: #d6d6d6;
  line-height: 44px;
  border-style: solid;
  border-width: 1px;
  margin: 15px;
  text-align: center;
  z-index: -10;

}

.finishOptions, .finishOptionsTitle {
  /*height: 300px;*/
  width: 650px;
  float: left;
  /*background-color: #0bf02a;*/

}

.superSection {
  margin-bottom: 20px;
  width: 100%;
  float: left;

}

.superSectionButton {
  height: 81px;
  width: 61px;
  float: left;
  margin: 8px;
  /*background-color: #55dbf0;*/
}

.superSectionImage, .colorSelectedDiv {
  height: 61px;
  width: 61px;
  /*background-color: #d9db3d;*/
}

.colorSelectedDiv {
  z-index: 1;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 19px);
  margin: 0;
  padding: 0;
}

.colorSelectedDivCC {
  z-index: 10;
  margin-top: -58px;
  padding-left: 17px;
  display: block;
}

#extSuperBlock {
  background-color: #ee00ee;
  z-index: 1000;
  width: 800px;
}

.superSectionText {
  height: 21px;
  width: 61px;
  /*background-color: #55dbf0;*/
  text-align: center;
}

.finishOptionsItem {
  height: 141px;
  width: 121px;
  float: left;
  margin: 17px;
  position: relative;
  /*background-color: #55dbf0;*/
}

.optionsItemImage {
  height: 121px;
  width: 121px;
  cursor: pointer;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;

  /*background-color: #d9db3d;*/
}

.optionsItemText {
  /*height: 42px;*/
  width: 123px;
  /*background-color: #55dbf0;*/
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.optionsItemRAL {
  height: 21px;
  width: 123px;
  /*background-color: #55dbf0;*/
  text-align: center;

}

.finishPreview {
  margin-top: 30px;
  float: right;
  /*background-color: #10b0f0;*/

}

#extFinishPreview {
  fill: currentColor;
  height: 600px;
  margin-top: 100px;

}

/*#######################*/
/*#######################*/

.header, #productHeader {
  height: 44px;
  /*background-color: #efe0de;*/
  z-index: 11;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #f1f1f1;*/
  position: relative;
}

.wrapVinyl {
  min-height: 300px;
  /*background-color: #ddd;*/
  margin-left: 10px;
  margin-right: 325px;
  /*color: #333;*/
  /*margin-top: 88px;*/
}

.wrap {
  min-height: 600px;
  /*background-color: #ddd;*/
  margin-left: 10px;
  margin-right: 325px;
  /*color: #333;*/
  /*margin-top: 88px;*/
}

.wrap h2 {
  font-size: 2em;
}

#extColorContent, #intColorContent{
  margin-top: 0px;
  float:left;
}

.wrap ul {
  list-style: none;
  padding: 0;
}

.wrap ul li {
  margin-bottom: 20px;
}

.wrap ul li h3 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.selectedColorGroup {
  background-color: #43A85F;
  color: #FFFFFF;
}

/*.menu, .menuInt {*/
/*height: 150px;*/
/*position: absolute;*/
/*left: 10px;*/
/*padding: 15px;*/
/*width: 275px;*/
/*background: green;*/
/*color: #FFF;*/
/*}*/

/*.menu .easing, .menuInt .easing {*/
/*overflow: hidden;*/
/*margin: 10px 0;*/
/*}*/

/*.menu .easing button, .menuInt .easing button  {*/
/*font-size: 1.1em;*/
/*float: left;*/
/*clear: left;*/
/*line-height: 1;*/
/*cursor: pointer;*/
/*}*/

.menu2_wrap, .menu3_wrap {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 30px;
}

.menu2 {
  position: absolute;

  width: 275px;
  height: 520px;
  right: 10px;
  left: auto;
  /*background-color: purple;*/
  margin-top: 10px;
}

.menu3 {
  position: absolute;
  width: 275px;
  height: 520px;
  right: 10px;
  left: auto;
  /*background-color: purple;*/
  margin-top: 10px;
}

.previewExt {
  color: #ee162d;
  fill: currentColor;
}

.previewInt {
  /*color: #dd44dd;*/
  fill: currentColor;
  /*background-color: #ee00ee;*/
}

.transition200 .duration,
.transition200 .delay {
  visibility: hidden;
}

.transition200 {
  transition: 200ms;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
}

.footer {
  height: 500px;
  background-color: blue;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

#extPreviewImage, #intPreviewImage, #extPreviewImagePng, #intPreviewImagePng {
  margin-top: 88px;
  color: #FFFFFF;
  fill: currentColor;

}

#chooseVinyl {

  margin-left: 10px;
}

#sameAsExterior {
  margin-left: 10px;
  float: left;
  margin-bottom: 30px;
}

.colorNote, .colorNote2 {
  width: 600px;
  height: 44px;
  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  margin-bottom: 30px;
}

.colorNote2 {
  height: 30px;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 0px;
}