
#companyHeader {
    height: 65px;
    width: 100%;
    background-color: #414141;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0;
    right:0;
}
#companyContent {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.companyLinks{
    float: right;
    line-height: 65px;
    text-align: right;
    font-size: 14px;
    margin-left: 40px;
}

#companyLogo {
    width: 400px;
    float: left;
}

/* unvisited link */
a:link {
    color: #3399ec;
}

/* visited link */
a:visited {
    color: #3399ec;
}

/* mouse over link */
a:hover {
    color: #3399ec;
}

/* selected link */
a:active {
    color: #3399ec;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}