.sectionTitle {
  margin-top: 30px;
  clear: both;
  font-family: open_sansbold;
  float: left;
}

.customerLabel {
  margin-top: 24px;
  margin-bottom: -3px;
  float: left;
  height: 31px;
  padding-left: 10px;
  font-family: open_sanslight;
  clear: both;
}

.customerInput {
  font-family: open_sansregular;
  float: left;
  font-size: 22px;
  width: 298px;
  height: 40px;
  border-width: 1px;
  border-color: #eaeaea;
  border-style: solid;
  padding-left: 10px;
  clear: both;
}

.customerDetails, .quoteActionsBox {
  width: 960px;

  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;

}

.customerViewButtons {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

.customerView {

  width: 290px;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

.customerViewTitle {
  font-size: 18px;
  width: 100%;
  height: 20px;

  /*margin-bottom: 20px;*/
  float: left;
  line-height: 20px;
}

.customerViewBoxDetails {
  width: 100%;
  float: left;
  //  background-color: #0025fe;
  margin-bottom: 45px;
  /*border-width: 1px;*/
  /*border-style: dashed;*/

}



.customerEdit {
  font-size: 18px;
  width: 50px;
  margin-bottom: 7px;
  float: left;
  line-height: 20px;
  cursor: pointer;
  color: #2e7bc3;
}

.customerBox {
  width: 100%;

  float: left;
}

.leftAddress {
  float: left;
  font-weight: bold;
  width: 90px;
}

.rightAddress {
  width: 340px;
}




#enterPaymentInfo {
  font-size: 14px;
  margin-top: -10px;
  float: left;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 20px;
}

#enterPaymentInfoSuper {
  font-size: 20px;
  margin-top: 25px;
  float: left;
  text-decoration: underline;
  cursor: pointer;
}


.cVBDLeft, .paymentLeft {
  font-size: 14px;
  width: 90px;
  height: 20px;
  float: left;
  text-align: right;
  margin-right: 10px;
}


.cVBDRight {
  font-size: 14px;
  width: 190px;
  height: 20px;
  float: left;
  text-align: right;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.cVBDRight {
  text-align: left;

}
.paymentRight {
  text-align: right;
}


.paymentRight {
  width: 20%;
}

#addNewCustomer, #chooseCustomer {
  margin-left: 10px;
}

#chooseCustomer {
  margin-top: 155px;
}

#customerViewNote {
  margin-top: 10px;
  float: left;
}

.editBox {
  margin-top: 20px;
  width: 540px;
  float: left;
  display: inline-block;

}

.editLeftText {
  font-size: 16px;
  float: left;
  text-align: left;
  padding-left: 10px;
  width: 200px;
  line-height: 16px;
  margin-bottom: 5px;
  clear: both;
}

.editLeft {
  font-size: 14px;
  float: left;
  text-align: right;
  width: 140px;
  height: 55px;
  line-height: 40px;
  margin-right: 10px;
  clear: both;
  //margin-bottom: 15px;
}

.editRight {
  float: left;
  width: 280px;
  height: 55px;
  //  background-color: #00dd00;
}

.editSates {
  float: left;
  width: 300px;
  height: 55px;
  font-size: 16px;
  //  background-color: #00dd00;
}

.editInput {
  font-family: open_sansregular;
  float: left;
  font-size: 16px;
  width: 278px;
  height: 40px;
  border-width: 1px;
  border-color: #eaeaea;
  border-style: solid;
  padding-left: 10px;
  clear: both;
}

.editSectionTitles {
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
  float: left;

}

.rightEditButtons {

  margin-top: 15px;
  float: left;
  width: 150px;
  height: 200px;

}

.editButtonsBox {

}

.editButtons {
  height: 44px;
  width: 150px;
  font-size: 16px;
  float: left;
  border-color: #d6d6d6;
  line-height: 44px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  text-align: center;
  z-index: -10;
  background-color: #fefefe;
  cursor: pointer;
}
.editButtonsMedium {
  width: 250px;
}
.editButtonsLong {
  width: 400px;
}



.floatRight {
  float: right;
}

.statesPullDown {
  width: 150px;
  height: 40px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-color: #378ed7;
  border-style: solid;
  font-size: 16px;

}

.customerRight, .customerLeft {
  width: 50%;
  float: left;
}

.customerLeft {
  clear: both;
}
.extraTopSpace {
  margin-top: 20px;
}

.extraBottomSpace {
  margin-bottom: 20px;
}

.customerNotes {
  width: 410px;
  height: 316px;
  padding: 13px;
  resize: none;

}
.borderSolid {
  border-width: 1px;
  border-style: solid;
}


.customerLabel {
  float: left;
  margin-top: 5px;
}





.paymentViewBoxDetails {
  width: 100%;
  float: left;
  margin-bottom: 10px;

}

.paymentBoxDetailsTitle {
  width: 100%;
  font-size: 16px;
  height: 20px;
  float: left;
  margin-bottom: 8px;
  margin-top: 8px;

}
.paymentNotes {
  width: 360px;
  height: 136px;
  padding: 13px;
  resize: none;
}

.paymentNotesBox {
  float: left;
  margin-top: 40px;
  margin-left: 15px;
}

.errorMessageCustomer {

  display: none;
  margin-bottom: 10px;
  float: left;
  height: 31px;
  padding-left: 150px;
  font-family: open_sanslight;
  width:100%;
  margin-top: 0px;
  color: red;
  //margin-top: -20px;

}

.errorMessage {

}

#searchCustomer {
  margin-left: 10px;
  display: none;
}

#searchBox, #searchBoxQuote {
  margin-top: 20px;
  margin-left: 20px;
  border-width: 1px;
  border-color: #eaeaea;
  border-style: solid;
  float: left;
  width: 851px;

}

#searchBoxQuote {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0px;
  width: 851px;
}
#search {
  font-family: open_sansregular;
  float: left;
  font-size: 22px;
  width: 470px;
  height: 40px;
  padding-left: 5px;
  border-width: 0px;


}
#searchIcon {
  float: left;
  margin-top: 10px;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-left: 10px;


}

#searchResults  {
  float:left;
  width: 100%;

}

 .customerName, .customerAddress, .customerSelect {
  width: 250px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.customerAddress {
  width: 566px;
}

.customerSelect {
  width: 100px;
  text-align: center;
}

.customerSearchRow {
  width: 650px;
  float: left;
  margin-left: 20px;
}

.customerSearchRowResults, .customerSearchRowResultsBold, .customerSearchRowResultsButtons  {
  width: 100%;
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.customerSearchRowResultsButtons {
  margin-top: 7px;
  width: 70px;
  font-size: 18px;
  color: #339ddb;
}

.customerSearchRowResultsBold {
  font-weight: bold;
  font-size: 18px;
}

.customerSearchRowLeft {
  width: 250px;
  float: left;
  height: 200px;
  line-height: 30px;
  font-size: 12px;
}

.customerSearchRowRight {
  width: 250px;
  float: left;
  height: 200px;
  line-height: 30px;
  font-size: 12px;
}

.customerSearchRowOld {
  width: 950px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.customerSearchTitle {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 950px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}

.finalRowCustomer {
  border-top: thin solid #6c6c6c;
  height: 1px;
  width: 950px;
  float:left;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #308acc;
}

.leftSideAddressGroup {
  float: left;
}

.rightSideAddressGroup {
  margin-left: 100px;
  float: left;
}