.topBar {
  width:830px;
  display: inline-block;
}

#cutSheetCompany {
  width: 830px;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.rightTopBar {
  float: right;
  width: 250px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}


.cutSheetImages {
  height: 100px;
}


.cutSheetPanel {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 550px;
}

//.panelImage {
//  height: 115px;
//}

.pageBoxGlassLabels {
  page-break-after:always;
  width: 960px;
  margin-left: 0px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
}

.pageBox {
  page-break-after:always;
  width: 960px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;

}


.pageBox td, .pageBox th {
  height: 14px;
  line-height: 16px;
  font-size: 14px;
  text-align: right;
  border: 1px solid #000000;
  padding: 3px 7px 2px 7px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


.pageBox th {
  text-align: center;
  background-color: #000;
  color: #ffffff;
}


.pageBox tr.alt .pageBox td {
  color: #000000;
  background-color: #eeeeee;
}


.pageBox td:nth-child(1){
  width:200px;
}


.size {
  margin-top: 14px;
  width: 400px;
  margin-bottom: 15px;
}


.size td:nth-child(1){
  width:150px;
}


.doorInfo {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
}


.leftBox {
  width: 420px;
  float: left;
}


.design {
  font-size: 14px;
  width: 400px;
  color: #000000;
}


.design td:nth-child(1){
  width:200px;
}


.partsCutSheets {
  margin-top: 16px;
  width: 820px;
  color: #000000;
  font-size: 14px;
}


.glassCutSheets {
  margin-top: 5px;
  width: 820px;
  color: #000000;
  font-size: 16px;
}

.glassCutSheets td {
  text-align: center;
}


.noteTitle {
  width: 810px;
  height: 23px;
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 24px;
}


.noteBox {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  width: 798px;
  border: 1px solid #000000;
  color: #000000;
}


.partsCutSheets td:nth-child(1){
  width:50px;
}


.partsCutSheets td:nth-child(2){
  width:300px;
}


.cutDoorTitle {
  text-align: center;
  font-size: 26px;
  width: 820px;
  display: inline-block;
  margin-top: 5px;
}


.leftText {
  text-align: left;
  width: 10px;
}


#cutSheetPrintOut {
  float: left;
  width: 100%;
}


.wctTitleBox {
  float: left;
  color: #FFFFff;
  background-color: #000000;
  text-align: center;

}



.wctLocationBox, .wctLocationTypeBox{
  width: 670px;
  float: left;
  color: #FFFFff;
  background-color: #000000;
  text-align: center;
  float: left;

}

.wctLocationBox {
  margin-top: 35px;
}

.wctLocationTypeBox{
  width: 670px;
  margin-top: 5px;
}


.wctRowBox {
  float: left;
  text-align: center;
}
.wctCol1, .wctCol2, .wctCol3, .wctCol4, .wctCol5, .wctCol6 {
  float: left;
  border: solid;
  border-width: 1px;
  border-color: #000000;
}

.wctCol1 {
  width: 70px;
}

.wctCol2 {
  width: 250px;
}

.wctCol3 {
  width: 100px;
}

.wctCol4 {
  width: 120px;
}

.wctCol5 {
  width: 120px;
}

.wctCol6 {
  width: 70px;
}


.wctSystemBox {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.wctImageBox {
  float: left;
  width: 250px;
  height: 170px;
  margin-right: 15px;
}

.wctSystem {
  float: left;
  width: 350px;
}

.wctSystemPadding {
  padding-left: 10px;
}
.wctSystemRow {
  padding-top: 10px;
  width: 430px;
  float: left;
  color: #FFFFff;
  background-color: #000000;
  text-align: center;
  height: 30px;

}


.wctBox {
  width: 670px;
  float: left;
}

.wctSpaceTop {
  margin-top: 5px;
}

.wctSpaceBottom {
  margin-bottom: 5px;
}

.windowsCutSheet {
  height: 150px;
}