@charset "UTF-8";

.extendedButton, .extendedButtonBorderd {
    height: 120px;
    float: left;
    cursor: pointer;
    margin: 15px;
}


.extendedButtonImage {
    width: 122px;
    height: 122px;
    float: left;
    /*background-color: #0814aa;*/
    margin-right: 30px;
    &.doorStyle{
        position: relative;
        .extendedSelectedDiv{
            padding: 0;
            margin: 0;
            z-index: 0;
            position: absolute;
            left: calc(50% - 21px);
            top: calc(50% - 21px);
        }
        &.left{
            .panel{left: 24px;}
            .extender{left: -10px;}
        }
        &.right{
            .extender{left: 32px;}
        }
        img.panel,img.extender{
            position: absolute;
            left: 0;
        }
    }
}
.extendedButtonImageBorder {
    width: 120px;
    height: 120px;
    float: left;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin-right: 30px;
}
.extendedButtonTitle {
    width: 720px;
    height: 30px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    /*background-color: #10aa30;*/
}
/*.extendedButtonPrice {*/
    /*width: 600px;*/
    /*height: 30px;*/
    /*float: left;*/
    /*background-color: #aa3507;*/

/*}*/
.extendedButtonDescription {
    width: 720px;
    height: 80px;
    float: left;
    margin-top: 5px;
    font-size: 14px;
  line-height: 18px;

    /*background-color: #73aaaa;*/

}

.extendedSelectedDiv {
/*  height: 121px;
  width: 121px;*/
  //  float: left;
//  background-color: #d9db3d;

}
.extendedSelectedDiv {
    z-index: 20;
    margin-top: -85px;
    padding-left: 40px;
}

#myGlass {
//    margin-top: 88px;
    margin-left: 10px;
}

.glassNote {
    width: 600px;
    height: 44px;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    margin-bottom: 0px;
}

// Scroll to section fix
#chooseGlassOptions,
#chooseAddons,
#chooseTricleVent,
#chooseScreen{
    float: left;
}