#guestRegistration {

    width: 345px;
    padding-left: 37px;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    background-color: #efefef;
    /*height: 630px;*/
    border-color: #6c6c6c;
    border-style: solid;
    border-width: 1px;
    overflow:hidden;

}

.guestNote, .guestNoteLogin {
    width: 340px;
    height: 44px;
    display: inline-block;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 10px;
    float: left;
    margin-bottom: 0px;
}

.guestNoteLogin {

    margin-top: 20px;
}

#proceedToQuote {
    background-color: #FFFFFF;
}

.guestWelcomeTitle {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.leadTypeRadio {
    float: left;
    margin-top: 5px;
}

.leadTypeLabel {
    float: left;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 5px;
}

.leadTypeRowBox {
    float: left;
    width: 160px;
    height: 30px;
}

.assignBarry{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #c2c2c2;
    font-size: 10px;
}