@charset "UTF-8";

.verticalButton {
    width: 120px;
    height: 200px;
    float: left;
    /*background-color: #0814aa;*/
    margin: 30px;
    margin-top: 20px;
}

.verticalButtonImage {
    width: 100%;
    height: 180px;
    float: left;

    /*background-color: #0814aa;*/
}
.verticalButtonName {
    margin-top: 20px;
    font-size: 14px;
}
.verticalButtonName, .verticalButtonNote {
    width: 100%;
    height: 24px;
    line-height: 24px;
    float: left;
    /*text-align: left;*/
    text-align: center;
    /*background-color: #0eaaa0;*/
}
.verticalButtonPreview {
    width: 290px;
    float:left;
    height:600px;
    /*background-color: #000066;*/
}
#hardWarePreview {

    height: 44px;
    width: 960px;
    z-index: 11;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 150px;
    left: 0;
    right:0;

}

#hardwareImagePreview {
    margin-left: 600px;
    z-index: -10;
}
.verticalButtonNote {
    font-size: 14px;
}
.sectionBlockPreview {
    width: 900px;
    display: inline-block;
    float: left;
    margin-bottom: 30px;

}

.verticalSelectedDiv {
    width: 121px;
    height:200px;
    z-index: 10;
    margin-top: -130px;
    padding-left: 40px;
}

#myHardware, #myExtras {
    margin-left: 10px;
    clear: both;
}

