
.finishedOptions-initials {
  float: left;
  font-size:  14px;
  font-weight: bold ;
  margin-left: -50px;
  margin-top: 50px;
}

.description-initials {
  float: left;
  font-size:  14px;
  font-weight: bold ;
  margin-left: 218px;
  margin-top: -45px;
}


.disclaimer-initials {
  float: left;
  font-size:  14px;
  font-weight: bold ;
  margin-left: 50px;
  //margin-top: -45px;
}