.invoiceLeft, .invoiceRight {
  padding-left: 50px;
  float: left;
  width: 428px;
  margin-bottom: 20px;
}

.invoiceRight {
  padding-left: 0px;
  padding-right: 50px;
}

.invoiceTitle2 {
  float: right;
  margin-top: 10px;
  font-size: 38px;
  margin-bottom: 46px;
  //clear: both;
}

.invoiceInfoLeft{
  float: right;
  width: 135px;
  text-align: left;
}


.invoiceInfoRight  {
  float: right;
  width: 151px;
  text-align: left;
}

.invoiceInfoRight  {
  margin-left: 0px;
  text-align: left;

}



#invoicePrintLogo {
  width: 320px;

}

.invoiceClear {
  clear: both;
}

.invoiceCustomerInfoTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.invoiceTop  {
  width: 100%;
  float: left;
  clear: both;
}


.cartRowInvoiceHeaderTitle {
  float: left;
  margin-left: 50px;
  width: 850px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: 2px;
  margin-bottom: 10px;
  height: 33px;
}

.cartRowInvoiceSeparator {
  margin-left: 50px;
  width: 850px;
  float: left;
  margin-top: 5px;
  border-top: solid;
  border-top-width: 2px;
  margin-bottom: 16px;

}

.cartInvoiceRowTitleFinish {
  float: left;
  margin-left: 50px;
  margin-bottom: 15px;
}

.cartInvoiceDescription {
  float: left;
  font-size: 24px;
  padding-bottom: 10px;
  font-family: open_sanslight;
  width: 320px;
}

.cartInvoiceDescriptionTitle {
  width: 500px;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: open_sanslight;
}

.invoiceGlass {
  float: left;
}

.invoiceGlassTitle {
  float: left;
  width: 400px;
  font-size: 18px;
  font-weight: bold;
}

.invoiceSpecifics {
  float:left;
}
.invoiceGlassColumnTitle, .invoiceGlassColumnTitleThin {
  float: left;
  width: 140px;
  border: solid;
  border-width: 1px;
  border-right-width: 0px;
  border-color: #000000;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
}

.invoiceGlassColumn, .invoiceGlassColumnThin {
  float: left;
  width: 140px;
  border: solid;
  border-width: 1px;
  border-right-width: 0px;
  text-align: center;
  color: #000000;
}

.invoiceGlassColumnThin, .invoiceGlassColumnTitleThin {
  width: 80px;
}

.invoiceGlassColumnLast {
  border: solid;
  border-width: 1px;
  border-color: #000000
}

.navCartItems {
  height: 700px;
}

.invoiceTotalCost {
  margin-top: 30px;
  margin-right: 50px;
  width: 600px;
  text-align: right;
  float: right;
}

.invoiceTerms {
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

.packsBox {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-left: 25px;
  margin-top: -10px;
  height: 40px;
  width: 40px;
  float: left;
}

.signatureBox {
  width: 565px;
  float: left;
}

.signatureLeft, .signatureRight {
  margin-top: 0px;
  width: 370px;
  margin-right: 25px;
  float: left;
  height: 35px;
  font-weight: bold;
}


.signatureNote {
  float: left;
}

.signatureRight {
  width: 165px;
  margin-right: 0px;
}

.signatureUnderLine {
  border-color: #000000;
  //border-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
}