.leadsTransfer {
  width: 90px;
  cursor: pointer;
}


.leadsTable, .accountingTable {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 44px;
  line-height: 30px;
  font-size: 14px;
  float: left;
}

table.leadsTable th, table.leadsTable td {
  line-height:20px;
  height: 30px;
}

table.leadsTable td {
  font-size: 14px;
}

table.leadsTable th {
  background-color: #c4c4c4;
  font-size: 16px;
}

table.leadsTable th {
  background-color: #ca3c32;
  font-size: 16px;
}

.paginationBoxLeads {
  margin-top: 20px;
}

.leadNameCell {
  width: 150px;
  height: 35px;
}

#leadsNew{
  .leadQuoteCell{ width: 70px }
  .leadFullName{ width: 100px }
  .quoteIcons{ margin-right: 0 }
  .leadEmail{ width:150px }
  .leadQty{ width:30px }
  .leadZip{ width:45px }
  .leadCounty{ width:121px }
  .leadState{ width:20px }
  .leadLink{
      text-decoration: underline;
      cursor: pointer;
  }
}

.leadQuoteCell  {
  width: 100px;
  float: left;
  text-align: center;
  height: 35px;
}

.leadCell5, .leadZip, .leadPhone, .leadQty, .leadFullName, .assignedLeadFullName,
.assignedLeadZip, .leadEmail, .leadCounty, .leadState {
  width: 70px;
  float: left;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;
}

.assignedLeadFullName {
  width: 150px;
  text-align: left;
}
.leadFullName {
  width: 196px;
  text-align: left;
}
.leadZip {
  width: 50px;
}

.assignedLeadZip {
  width: 70px;
}
.leadEmail {
  width: 129px;
  text-align: left;
}
.leadPhone {
  width: 90px;
}
.leadQty {
  width: 40px;
}

.transferLeadCell {
  width: 145px;
  float: left;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;

}



.leadsLastColumn {
  width: 40px;
  float: left;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  height: 35px;
}


.leads2ndLastColumn {
  width: 155px;
  float: left;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;
}


.leadIcons, .leadIconsText, .assignedleadIcons, .assignedleadIconsText, .leadsSalesPerson {
  padding-top: 7px;
  width: 60px;
  float: left;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.leadsSalesPerson {
  width: 116px;
  padding-top: 0px;
}
.assignedleadIcons, .assignedleadIconsText {
  width: 100px;
}

.leadIconsText, .assignedleadIconsText {
  padding-top: 0px;
}
.leadIcons, .leadIconsText{
  width: 27px;
}

.leadRow, .leadRowTitle{
    width: 956px;
}

.leadRow {
  float: left;
  height: 35px;
  line-height: 30px;
  font-size: 12px;
  //  display: block;
}


.leadRowTitle {
  font-size: 14px;
  float: left;
  height: 30px;
  line-height: 30px;
  background-color: darkred;
  color: white;

}

#pullDown {
  margin-top: 3px;
  float: left;
}

#leadSalesPersons {
  width: 360px;
  font-size: 14px;
  float: left;
  margin-top: -55px;
  margin-left: 595px;
  height: 30px;
  line-height: 30px;
  color: white;
}

.transferText {
  cursor: pointer;
}

#transferToText {
  float: left;
  color: black;
  margin-right: 10px;
  margin-left: 28px;
  font-weight: bold;
  cursor: pointer;
}
#transferTo {
  float: left;
  color: black;
  margin-left: 18px;
}
