#startOfDynamicContent {
  display: none;
}

.centeredLoader {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  z-index: 100;
}

#loading {
  margin-top: -64px;
  margin-left: -64px;
}

#headerNav, #mainContent, #footer, #productHeader, #preMainContent {
  width: 960px;
}

.spacer {
  width: 100%;
  height: 45px;
  display: inline-block;
}

.spacerNone {
  width: 100%;
  height: 1px;
  display: inline-block;
}

.nextButtonSection {
  height: 100px;
}

#preMainContent {
  margin-bottom: 10px;

}

#mainContent, #preMainContent {
  margin-right: auto;
  margin-left: auto;
  margin-top: 160px;

  /*background-color: #00aaaa;*/

}

body {
  /*height: 1500px;*/
  font-family: open_sansregular, Verdana, Arial, Helvetica, sans-serif;
  color: #414141;
  line-height: 20px;
}

p {
  font-family: open_sansregular;
  padding-left: 10px;
  line-height: 35px;
}

.title {
  width: 950px;
  height: 44px;
  background-color: #FAFAFA;
  font-family: open_sanslight;
  line-height: 44px;
  font-size: 24px;
  padding-left: 10px;
  color: #414141;
  float: left;
  margin-left: -10px;
}

.sectionBlock {
  width: 100%;
  display: inline-block;
  /*height: 200px;*/
  //    background-color: #fff9c0;
  margin-bottom: 10px;
  float: left;

}

.sectionBlockColor {
  width: 600px;
  display: inline-block;
  /*height: 200px;*/
  /*background-color: #fff9c0;*/
  margin-bottom: 30px;

}

.doorImage {
  /*background-color: #d9db3d;*/
  width: 100%;
  float: left;
  vertical-align: middle;
  margin-right: 50px;
}

.checkButton {
  /*background-color: #d9db3d;*/
  /*width: 200px;*/

  float: left;
  vertical-align: middle;
  margin-left: -120px;
  margin-top: -40px;
  z-index: 10;
  /*margin-right: 50px;*/
}

.selectedDiv {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 21px);
}

/*#header {*/
/*height: 44px;*/
/*top: 0%;*/
/*left: 50%;*/
/*transform: translate(-50%, -0%);*/
/*background-color: #ffffff;*/
/*position: fixed;*/
/*z-index: 11;*/
/*}*/

#headerNav, #productHeader {
  height: 44px;
  background-color: #FFFFFF;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;

}

#productHeaderLeft, #productHeaderRight, #productHeaderCenter {
  color: #339ddb;
  line-height: 44px;
  height: 44px;
  font-size: 20px;
}

#productHeaderLeft {
  float: left;
  width: 290px;
  padding-left: 10px;
}

#productHeaderRight {
  float: right;
  width: 290px;
  padding-right: 10px;
  text-align: right;
}

#productHeaderCenter {
  width: 360px;
  float: left;
  text-align: center;
}

#headerStartOverImage {
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 10px;
}

#headerStartOver, #headerCart, #headerRightMenu, #workingOnTitle {
  font-size: 23px;
  font-family: open_sanslight;

  cursor: pointer;
  line-height: 44px;
}

#startOverButton {
  cursor: pointer;
  height: 44px;
  float: left;
  width: 260px;
  /*background-color: #000066;*/
  &.hide{
      visibility: hidden;
  }
}

#workingOnTitle, #headerStartOver {
  float: left;

}

#workingOnTitle {
  width: 400px;
  text-align: center;
  /*background-color: #000066;*/
  margin-left: 15px;
  font-size: 20px;
}

#cartButton {
  cursor: pointer;
  /*height: 44px;*/
  float: right;
  width: 134px;
  /*background-color: #000066;*/
}

#headerStartOverImage {

  float: left;
  height: 26px;
  padding-top: 4px;
  line-height: 44px;
}

#headerCartImage {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  line-height: 44px;
}

#headerCart {
  float: right;
  margin-right: 28px;
}

#headerRightMenu {
  float: right;
  font-size: 23px;
  font-family: open_sanslight;
  width: 150px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cartNav {
  margin-top: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  width: 960px;
  font-size: 20px;
  font-family: open_sanslight;
  display: none;
  display: table;
  table-layout: fixed;
}

#salesNav, #leadsNav, #accountingNav, #productionNav, #builderNav {
  margin-top: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  width: 960px;
  font-size: 20px;
  font-family: open_sanslight;
  display: none;
}

#builderNav {
  font-size: 16px;
}

#cartNavFloat {

  height: 44px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  width: 962px;
  font-size: 20px;
  font-family: open_sanslight;

}

.topNavSection {

  text-align: center;
  color: #cacaca;
  border-color: #339ddb;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  height: 42px;
  line-height: 44px;
  cursor: pointer;
  display: table-cell;

}


.productNavSection, .leadsNavSection {
  text-align: center;
  float: left;
  color: #cacaca;
  border-color: #339ddb;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  height: 42px;
  line-height: 44px;
  cursor: pointer;
}

.leadsNavSectionWidth {
  width: 100px;

}


.topNavSectionFirst {
  border-left-width: 1px;
}

.topNavSelected {
  background-color: #339ddb;
  color: #ffffff;
}

.nextButton, #nextButtonHardware {
  width: 240px;
  height: 35px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}

.nextTitle {
  /*background-color: #339ddb;;*/
  color: #339ddb;
  font-size: 20px;
  line-height: 39px;
  float: left;

}

.nextImage {
  /*background-color: #db28d4;;*/
  color: #ffffff;
  float: left;
  margin-left: 20px;

}

#copyWrite {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 28px;
  float: left;
}

#copyWriteGroup {
  width: 150px;
  height: 35px;
  color: #a3a3a3;
  margin-left: auto;
  margin-right: auto;
}

#copyWriteName {
  font-size: 14px;
  line-height: 14px;
  float: left;
  margin-left: 5px;
}

#copyWriteTag {
  float: left;
  font-size: 10px;
  margin-left: -20px;
  margin-top: -3px;
}

#footer {

  height: 44px;
  background-color: #f4f4f4;
  z-index: 11;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;

}

#footerPrice {
  height: 44px;
  width: 310px;
  /*margin: 0 auto;*/
  font-family: open_sansbold;
  font-size: 30px;
  line-height: 44px;
  padding-left: 0px;
  float: left;
  text-align: center;
}

#cartFooterCenter {
  font-family: open_sansbold;
  font-size: 30px;
  line-height: 44px;
}

#footerLeft, #footerRight {
  height: 44px;
  width: 310px;
  font-family: open_sanslight;
  font-size: 24px;
  line-height: 44px;
  float: left;
  color: #339ddb;
}

#footerRight {
  float: right;
}

#footerLeft {
  text-align: left;
  padding-left: 10px;
}

#footerRight {
  text-align: right;
  padding-right: 10px;
}

#footerAddToCart {
  height: 44px;
  text-align: right;
  width: 200px;
  float: right;
  font-family: open_sanslight;
  font-size: 23px;
  line-height: 44px;
  color: #666666;
  cursor: pointer;
  background-color: #339ddb;

}

#menuOptionsBox {

  width: 960px;

  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  background-color: #ffffff;
  position: fixed;
  z-index: 101;

}

#menuOptions {

  z-index: 200;
  font-size: 20px;
  font-family: open_sanslight;
  width: 300px;
  height: 260px;
  position: fixed;
  top: 100px;
  left: 650px;
  display: none;
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  background-color: #ffffff;

}

.safari #menuOptions {
  left: 810px;
}

.menuImage {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.menuImageSVG {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.menuText {
  margin-top: 2px;
  line-height: 40px;
  float: left;
}

.menuRows, .menuRowBottom {
  height: 42px;
  width: 100%;

  border-color: #f4f4f4;
  border-style: solid;
  border-width: 0px;

  border-bottom-width: 1px;
  color: #339ddb;
  cursor: pointer;

}

.menuRowBottom {
  border-bottom-width: 0px;
}

#screen {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  z-index: 12;

}

#doorSVG2 {
  fill: currentColor;
  color: #339ddb;
  width: 200px;
  height: 461px;
  float: left;
}

#doorSVG svg {
  fill: currentColor;
  color: #339ddb;
  width: 200px;
  height: 461px;

}

.salesPullDown {
  width: 150px;
  height: 25px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-color: #378ed7;
  border-style: solid;
  font-size: 16px;

}

.fullPage, .fullPageLessGuest {
  padding-bottom: 50px;
  padding-top: 50px;
  //float: left;
  page-break-after: always;
}

.fullPageLessGuest {
  padding-bottom: 50px;
  padding-top: 50px;
}

.fullPageShort {
  padding-bottom: 50px;
  padding-top: 50px;
  height: 100px;
}

.pointer {
  cursor: pointer;
  text-decoration: underline;
}

.floatRight {
  float: right;
  margin-right: 60px;
}

.floatRightFlush {
  float: right;
}

//@media print
//{ .pageGroup {
//  display: inline-block;
//  clear: both;
//  width: 210mm;
//  height: 297mm;
//  page-break-after: auto;
//}
//}

#mailPrint{
     .wrapper{
        width: 780px;
        padding: 0 40px;
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }
    .mail-spacer{
        padding: 0px 0px 30px;
    }
    .image{
        text-align: center;
    }
    .column {
        float: left;
        padding: 10px;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .column.image {
        width: 70px;
    }
    .column.image img{
        width: 70px;
    }
    .column.content {
        width: 670px;
    }
    .header-text{
        width: 650px;
        margin: 0 auto;
        text-align: center;
    }
    .footer-text{
        font-family: 'PT Serif', serif;
        font-style: italic;
        text-align: center;
        font-size: 18px;
        color: #6d6d6d;
    }
    .footer-line{
        margin: 30px 0;
        width: 100%;
        height: 5px;
        background-color: #333333;
        -webkit-box-shadow: 0px 2px 6px 3px rgba(212,212,212,1);
        -moz-box-shadow: 0px 2px 6px 3px rgba(212,212,212,1);
        box-shadow: 0px 2px 6px 3px rgba(212,212,212,1);
    }
}

hr.group-delimiter{
    width: 100%;
}

#dynamicContent .button{
  min-height: inherit;
  margin-bottom: 35px;
}