.idTableWidth  {
  width: 120px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.moduleTitleWidth {
  width: 250px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.moduleTableHeader {
  background-color: #a3a3a3;

  float: left;
}
.moduleTableRow {
  width: 100%;
  float: left;
}

.modulesFinalRow {
  border-top: thin solid #6c6c6c;
  height: 1px;
  float:left;
  width: 382px;
}

.formDiv {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.moduleForm {
  float:left;
  width: 300px;
}
.moduleFormTextArea {
  float:left;
  width: 300px;
  height: 200px;
}
.moduleLabel {
  float: left;
  width:100px;
}

.modulePreview {
  margin-left: 80px;
  float: left;
}
.moduleButtons {
  width: 150px;
  margin-left: 30px;
  float: left;
}

.moduleSaveForm {
  width: 100%;
  float: left;
  margin-left: 150px;
  margin-bottom: 300px;
}

.imageUpload {
  width: 100%;
  float: left;
  display: block;
  height: 200px;
//  background-color: #51a351;
}