.orderCell {

  float: left;
}

.orderRow {
  width: 956px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.orderRowTitle {
  width: 956px;
  float: left;
  height: 30px;
  line-height: 30px;
  background-color: #c4c4c4;
  font-size: 12px;
}

.borderLeftTop {
  border-left: thin solid #6c6c6c;
  border-top: thin solid #6c6c6c;
}

.sortable {
  cursor: pointer;

}
.borderLeftRightTop {

  border-left: thin solid #6c6c6c;
  border-right: thin solid #6c6c6c;
  border-top: thin solid #6c6c6c;

}
.finalRow {
  border-top: thin solid #6c6c6c;
  height: 1px;
  width: 956px;
  float:left;
  margin-bottom: 20px;
  &.leads{width:896px;}
}

.orderCell1  {
  width: 95px;
  float: left;
  text-align: center;
  font-size: 12px;
}

.orderCell2  {
  width: 90px;
  float: left;
  text-align: center;
  font-size: 10px;
}

.orderCell3, .orderCell4 {
  width: 80px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.rowQuantity {
  width: 49px;
  float: left;
  text-align: center;

}
.lastFirstName {
  width: 136px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.orderCell7 {
  width: 80px;
  float: left;
  text-align: center;
}

.orderCell8, .orderCell9 {
  width: 82px;
  float: left;
  text-align: center;
}

.orderCell10 {
  width: 110px;
  float: left;
  text-align: center;
  padding-top: 5px;
  height: 25px;

}


.orderTable {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 170px;
  margin-bottom: 44px;

  //  line-height: 30px;
  //  font-size: 14px;
}

.orderStatus, .orderStatusSmall {

  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-color: #6c6c6c;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  height: 42px;
  width: 115px;
  font-size: 14px;
  line-height: 44px;
  cursor: pointer;
  float: left;
}

.orderStatus.survey{
  width: 105px;
}
.orderStatusSmall {
  width: 100px;
}
.stackedText {
  margin-top: -7px;
  height: 22px;
  line-height: 28px;
}
.stackedTextMenu {
  margin-top: -3px;
  height: 22px;
  line-height: 28px;
}

.accountDoubleTitle {
  margin-top: -7px;
  height: 21px;
}

.accountMultipleRows {
  padding-top: 4px;
  height: 51px;
}
.verified {
  background-color: rgba(14, 165, 8, 0.31);
}

.accountDoubleRow {
  margin-top: 0px;
  height: 16px;
  line-height: 16px;
}
.accountDoubleRowTopBar {
  margin-top: 5px;
  height: 16px;
  line-height: 16px;
}

.verifiedPaymentLink {
  cursor: pointer;
}
.accountTripleRow {
  margin-top: -3px;
  height: 16px;
  line-height: 16px;
}

.depositDue, .verifyDeposit {
  //border-left-width: 0px;
  background-color: #f2f209;
}

.verifyDepositBorder{
  border-color: #f2f209;
}
.balanceDue {
  //border-left-width: 0px;
  background-color: #ffbe3e;
}

.orderStatusLeft {
  border-left: thin solid #6c6c6c;
}



.accountingNeedsSurvey {
  background-color: #ffb108;
  color: #FFFFFF;
}
.order, .needsPayment, .accountingPreProduction {
  background-color: #308acc;
  color: #FFFFFF;
}

.orderBorder {
  border-color: #308acc;
}

.accounting, .accountingHold {
  background-color: #e2080b;
  color: #FFFFFF;
}

.accountingBorder {
  border-color: #e2080b;
}
.preProduction {
  background-color: #f2d930;

}
.preProductionBorder {
  border-color: #308acc;
}

.production, .accountingProduction {
  background-color: #0ab306;
  color: #FFFFFF;

}

.productionBorder {
  border-color: #0ab306;
}

.completed, .accountingCompleted {
  background-color: #afafaf;
  color: #FFFFFF;
}
.completedBorder {
  border-color: #afafaf;
}

.delivered, .accountingDelivered {
  background-color: #575757;
  color: #FFFFFF;
}

.deliveredBorder {
  border-color: #575757;
}

.orderIcons {

  height: 20px;
  margin-right: 6px;
  margin-left: 2px;

}

.orderIconsActions {

  text-decoration: underline;
  cursor: pointer;

}


.orderDateBox  {
  border: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  //margin-left: -28px;
  font-size: 13px;
  margin-top: -4px;
  //position: relative;
  //z-index: 10;
}


.viewOrderDateBox , .viewOrderDateBoxReadOnly{

  float: left;
  line-height: 14px;
  width: 70px;
  position: relative;
  z-index: 1;
  font-size: 11px;
  cursor: pointer;

  //height: 22px;
  //line-height: 18px;
  //text-align: left;
  //cursor: pointer;
  //font-size: 12px;
  //margin-top: -4px;
  //width: 70px;
}