
#takePayment {
  margin-left: 10px;
}
.paymentBoxCenter, .paymentBoxRight {
  width: 290px;
  margin-left: 0px;
  float: left;
}

.paymentBoxRightFlow2 {
  margin-top: -20px;
  width: 290px;
  margin-left: 0px;
  float: left;
  margin-bottom: 20px;
}

.paymentBoxCenter {
  margin-right: 36px;
}
.paymentOptionsBox {
  width: 55px;
  padding-left: 17px;
  height: 70px;
  float: left;
  margin-bottom: 5px;
  margin-top: 10px;
}
.paymentImage {
  width: 55px;
  height: 55px;
  background-color: darkgray;
}
.paymentLabel {
  font-size: 10px;
  text-align: center;
}
.creditCardLabel {
  float: right;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  text-align: right;
  margin-bottom: 10px;
}
.creditLastFour {
  width: 40px;
  height: 20px;
  float: right;
  padding-left: 7px;
  font-size: 14px;
  margin-right: 1px;
  margin-bottom: 10px;
}
.paymentLeft {
  margin-top: 10px;
  float: right;
  line-height: 30px;
  width: 140px;
}
.paymentAmountBox {
  width: 100%;
  float: left;
}
.paymentRight {
  margin-top: 10px;
  float: right;
  text-align: right;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1px;
  width: 90px;
}
.billingAmountTextBox {
  width: 80px;
  height: 20px;
  text-align: right;
  float: right;
  font-size: 14px;
}
.amountDueBox {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.paymentsAmountDueLabel {
  float: left;
  width: 170px;
  margin-left: 10px;
}
.paymentsAmountDue {
  float: left;
  width: 90px;
  text-align: right;
}
.paymentSeparator {
  height: 1px;
  background-color: #5a5a5a;
  margin-left: 5px;
  width: 260px;
  float: left;
}
.paymentLineBox {
  width: 100%;
  float: left;
  height: 15px;
}
.paymentsGroupBox {
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  float: left;
}
.paymentsLeft {
  float: left;
  width: 170px;
  margin-left: 10px;
}
.paymentDateLeft {
  float: left;
  width: 150px;
  margin-left: 10px;
}
.paymentsRight {
  float: left;
  width: 110px;
}
.paymentDateRight {
  float: left;
  width: 130px;
}
#paymentOrderNotes {
  width: 270px;
  height: 158px;
  padding: 8px;
  margin-bottom: 20px;
  resize: none;
}
.paymentVerticalLine {
  width: 1px;
  height: 625px;
  background-color: #5a5a5a;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.paymentInfoGroupBox {
  padding-top: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #5a5a5a;
  float: left;
  margin-bottom: 200px;
}
.lastFourBox {
  float: left;
  width: 100%}
.deletePayment {
  cursor: pointer;
  text-decoration: underline;
  font-size: 10px;
}
#paymentDate {
  font-size: 14px;
}
.redText {
  color: red;
}

.invoice {
  position: relative;
}
.paidInFull {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -150px;
  left: -150px;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}


.paidInFullHeader {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 0px;
  left: 320px;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

