@charset "UTF-8";

.moduleTwoAcross {
  width: 350px;
  padding: 10px;
  float: left;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.moduleThreeAcross {
  width: 285px;
  padding: 10px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.borderColor {
  border-color: #339ddb;
}

.productButton, .productButtonComingSoon {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;

  border-style: solid;
  border-width: 1px;

}

.moduleRowGroup {
  float: left;
}

.productButtonComingSoon {

  cursor: auto;
}

.productImage {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  float: left;
  /*background-color: #cc4433;*/
}

.productNote1 {
  margin-top: 5px;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
}

.productNote2 {
  /*margin-top: 5px;*/
  margin-top: -10px;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
}

.productNote3 {
  margin-top: 0px;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
}

.productLabel, .productNote1, .productNote2 {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
}

.productsRePostion {
  /*margin-top: px;*/
}

#chooseProduct {
  margin-top: 0px;
  margin-left: 10px;
}

.icons {
  fill: #ff0000;
}
