
.productionTable {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 170px;
  margin-bottom: 44px;
  line-height: 30px;
  font-size: 12px;
}

table.productionTable td{

  height: 35px;
  line-height:16px;
  vertical-align: middle;

}

table.productionTable th {
  background-color: #c4c4c4;
  vertical-align: middle;
  height: 45px;
  line-height: 16px;

}

.prodStatusPullDown, .prodGlassPullDown, .prodWoodPullDown {
  height: 20px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  font-size: 10px;


}



.prodStatusPullDown {
  width: 75px;
}

.prodGlassPullDown {
  width: 50px;
}

.prodWoodPullDown {
  width: 60px;
}

#productionNotes {
  width: 700px;
  height: 136px;
  padding: 13px;
  resize: none;
  margin-bottom: 20px;
}

.productionNotesShort {

  width: 300px;
}

.prodTable-Flow2-Cell1, .prodTable-Flow2-Cell2, .prodTable-Flow2-Cell3, .prodTable-Flow2-Cell4, .prodTable-Flow2-Cell5,
.prodTable-Flow2-Cell6, .prodTable-Flow2-Cell7, .prodTable-Flow2-Cell8, .prodTable-Flow2-Cell9, .prodTable-Flow2-Cell10,
.prodTable-Flow2-Cell11, .prodTable-Flow2-Cell12, .prodTable-Flow2-Cell13, .prodTable-Flow2-Cell14, .prodTable-Flow2-Cell15
{
  float: left;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.prodTable-Flow2-Cell1 {
  width: 45px;
}
.prodTable-Flow2-Cell2 {
  width: 95px;
  text-align: left;
}
.prodTable-Flow2-Cell3 {
  width: 70px;
  text-align: left;
}
.prodTable-Flow2-Cell4 {
  width: 95px;
}
.prodTable-Flow2-Cell5 {
  width: 20px;
}
.prodTable-Flow2-Cell6 {
  width: 25px;
}
.prodTable-Flow2-Cell7 {
  width: 45px;
}
.prodTable-Flow2-Cell8 {
  width: 35px;
}
.prodTable-Flow2-Cell9 {
  width: 45px;
}
.prodTable-Flow2-Cell10 {
  width: 55px;
}
.prodTable-Flow2-Cell11 {
  width: 50px;
}
.prodTable-Flow2-Cell12 {
  width: 60px;
}
.prodTable-Flow2-Cell13 {
  width: 35px;
}
.prodTable-Flow2-Cell14 {
  width: 75px;
}
.prodTable-Flow2-Cell15 {
  width: 40px;
  text-decoration: underline;
}
.prodCell1, .prodCell2, .prodCell3, .prodCell4, .prodCell5,
.prodCell6, .prodCell7, .prodCell8, .prodCell9, .prodCell10,
.prodCell11, .prodCell12, .prodCell13, .prodCell8_v1, .prodCell9_v1, .prodCell4_v1, .prodCell5_v1,
.prodCell6_v1, .prodCell7_v1, .prodCell2_v1, .prodCell3_v1
{
  float: left;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prodCell1 {
  width: 85px;
}
.prodCell2 {
  width: 94px;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.prodCell3  {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.prodCell2_v1 {
  width: 145px;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.prodCell3_v1  {
  width: 132px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}
.prodCell4, .prodCell5 {
  width: 40px;
}
.prodCell6  {
  width: 55px;
}
.prodCell7 {
  width: 50px;
}

.prodCell4_v1, .prodCell5_v1 {
  width: 60px;
}
.prodCell6_v1  {
  width: 85px;
}
.prodCell7_v1 {
  width: 70px;
}

.prodCell8, .prodCell9 {
  width: 60px;
}

.prodCell8_v1, .prodCell9_v1 {
  width: 80px;
}


.prodCell10 {
  width: 75px;
}
.prodCell11 {
  width: 75px;
}
.prodCell12{
  width: 85px;
}.prodCell13{
   width: 52px;
   text-decoration: underline;
 }




.prodNeedsSurvey {
  background-color: #ffb108;
  color: #FFFFFF;
}
.prodPreProduction {
  background-color: #308acc;
  color: #FFFFFF;
}

.prodPreProductionBorder {
  border-color: #308acc;
}

.prodHold {
  background-color: #e2080b;
  color: #FFFFFF;
}
.prodHoldBorder {
  border-color: #e2080b;
}

.prodProduction {
  background-color: #0ab306;

}
.prodProductionBorder {
  border-color: #0ab306;
}

.prodCompleted {
  background-color: #afafaf;
}
.prodCompletedBorder {
  border-color: #afafaf;
}
.prodDelivered {
  background-color: #575757;
  color: #FFFFFF;
}
.prodDeliveredBorder {
  border-color: #575757;
}

.readyForProduction {
  background-color: #0ab306;
}
.paymentCompleted {
  background-color: #afafaf;
}



.confirmOrders {
  background-color: #e0e400;
  color: #000000;
}
.productionActions {

  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-color: #6c6c6c;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  height: 42px;
  width: 130px;
  line-height: 44px;
  cursor: pointer;
  float: left;


}

.productionActions.survey{
  width: 315px;
}

.productionNotesTitle {
  width: 100%;
  display: block;
  float: left;

}

.estCompleteDateBox, .estCompleteDateBoxLarge   {
  border: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin-left: -28px;
  font-size: 10px;
  margin-top: -3px;
  font-family: open_sansregular;
  font-weight: normal;
  position: relative;
  z-index: 9;
  color: #393a4b;
}
.estCompleteDateBoxLarge  {

  margin-left: -44px;
  margin-top: -6px;
  font-size: 14px;
}



.glassSheetSectionBox {
  margin-top: 15px;
  width: 100%;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #6c6c6c;
  padding-bottom: 20px;
  margin-bottom: 25px;

}

.glassSheetSectionBox-header {
  font-size: 24px;
  font-family: open_sanslight;
  background-color: #f4f4f4;
  height: 44px;
  line-height: 44px;
  padding-left: 2%;
  width: 98%;
  float: left;
}

.glassSheetSectionBox-title {
  float: left;
  width: 100%;
}

.glassSheetSectionBox-glass {
  margin-left: 15px;
  margin-top: 15px;
  float: left;
}


.glassSheetSectionBox-doorTitle {
  float: left;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

.glassSheetLogoBox {
  margin-left: 15px;
  width: 964px;
  color: #2e2e2e;
  margin-top: -25px;
}

.glassSheetSectionBox-customer {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

.glassLabelsSectionBox {
  width: 98%;
}
.glassLabelBoxLeft, .glassLabelBoxRight{
  width: 346px;
  /*height: 172px;*/
  //border: 1px solid;
  float: left;
  padding: 15px;
  margin: 0 5px;
  border-radius: 7px;
  .companyName{
    font-weight: bold;
    font-size: 1.5em;
  }
  .labelBoldTitle{
    font-weight: bold;
  }
  .labelSection{
    margin: 5px 0;
  }
  hr{
    border-color: black;
  }
  div{
    line-height: 1.2em;
  }
}
.glassLabelBoxRight {
  padding-left: 45px;
}

.glassLabelBoxLeft {
  padding-left: 0px;
}
.deliveryLabelsPage{
    width: 816px;
    page-break-after: always;
    .deliveryLabel{
        padding: 24px 24px;
        width: 768px;
        height: 168px;
        .orderNum{
            min-width: 200px;
            font-size: 70px;
            line-height: 70px;
        }
        .rightTitle{
            font-size: 20px;
        }
        .bold{ font-weight: bold }
        .bottomBox{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .deliveryBox{
            height: 100%;
            float: left;
            position:relative;
            &.left{
                width: 30%;
                font-size: 18px;
                .bottomBox{
                    background: black;
                    color: white;
                    padding: 5px 10px;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }
}
.panelLabelsPage{
    width: 816px;
    page-break-after: always;
    .panelLabel{
        height: 530px;
        .panelLabelHeader{
            height: 70px;
            border-bottom: 3px solid black;
            div{
                float: left;
                margin: 0 10px;
            }
            .panelLogo{
                margin: 20px 10px;
                width: 190px;
            }
            .panelOrderNum{
                width: 340px;
                font-size: 35px;
                line-height: 70px;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
            }
            .panelCounter{
                width: 190px;
                line-height: 70px;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }
        }
        .panelLabelImages{
            border-bottom: 3px solid black;
            .imagesWrapper{
                display: inline-block;
                margin: 10px 0;
                vertical-align: top;
                height: 100%;
            }
            .panelImage{
                position: relative;
                display: inline-block;
                height: 100%;
                border: 3px solid black;
                border-width: 3px 0;
                &.first{ border-width: 3px 0 3px 3px }
                &.last{ border-width: 3px 3px 3px 0 }
                img{vertical-align: top}
            }
            .number{
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
            }
        }
        .panelLabelDetails{
            .panelInfo{
                padding: 20px 0 0 20px;
                float: left;
                width: 385px;
                .infoTitle{
                    line-height: 30px;
                    font-size: 30px;
                    font-weight: bold;
                    text-decoration: underline;
                }
                .infoBody{
                    font-size: 18px;
                    span{ font-weight: bold }
                }
            }
        }
    }
}
.pb{
    page-break-after: always;
}
.productionReport{
    float: right;
    #prodReportDateInput{
        float: left;
        width: 70px;
        height: 42px;
        margin-right: 15px;
        padding: 0 10px;
    }
    #generateProdReportButton{
        margin-right: 19px;
    }
}
