.quoteCell {

  float: left;
}

.quoteRow {
  width: 956px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
//  display: block;
}

#subTabAlert, #subTabAlertAccounting {
  height: 8px;
  float: left;
  width: 956px;
}

.accountingSpace {
  float: left;
  width: 100%;
  margin-top: 15px;
}

#subTabAlertAccounting {
  margin-top: 15px;
}

.quoteRowTitle {
  width: 956px;
  font-size: 14px;
  float: left;
  height: 30px;
  line-height: 30px;
  background-color: #a3a3a3;
  &.leads{width:896px;}
}

.quoteCell1, .quoteCell2  {
  width: 89px;
  float: left;
  text-align: center;
}
.quoteLastName, .quoteFirstName, .orderLastName, .orderFirstName, .leadNameCell {
  width: 80px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.orderLastName {
  width: 120px;
}
.quoteFirstName {
  width:60px;
}
.orderFirstName {
  width: 74px;
}
.quoteCell3, .quoteCell4 {
  width: 108px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.quoteCompany  {
  width: 85px;
  float: left;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.quoteCell5 {
  width: 90px;
  float: left;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.quoteZip {
  width: 50px;
  float: left;
  text-align: center;
}
.quoteCell6 {
  width: 50px;
  float: left;
  text-align: center;
}
.quoteCell7 {
  width: 80px;
  float: left;
  text-align: center;
}
.quoteCell8 {
  width: 75px;
  float: left;
  text-align: center;
}
.quoteCell9 {
  width: 80px;
  float: left;
  text-align: center;
}
.quoteCell10 {
  width: 33px;
  float: left;
  text-align: center;
  height: 25px;
  padding-top: 5px;
  padding-left: 3px
}

.leadStatusPullDown {
  height: 20px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  width: 80px;

}

.quoteTable, .orderTable, .orderTable{
  width: 98%;
  margin-right: auto;
  margin-left: auto;
//  margin-top: 170px;
  margin-bottom: 44px;
  float: left;
  //  line-height: 30px;
  //  font-size: 14px;
}



table.quoteTable th, table.orderTable td{

}

table.quoteTable td{

  height: 25px;
  line-height: 25px;
  font-size: 14px;

}

table.quoteTable th, table.orderTable th {
  background-color: #c4c4c4;
  font-size: 16px;
  height: 30px;
  line-height: 30px;

}

table.quoteTable td:nth-child(1) {

  width: 70px;
//  display: block;
}

table.quoteTable td:nth-child(2) {
//
  width: 100px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.quoteTable td:nth-child(3) {

  width: 120px;
//  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.leadActions {

  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-color: #6c6c6c;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  height: 42px;
  width: 110px;
  line-height: 44px;
  cursor: pointer;
  float: left;


}
.leadActionsLeft {
  border-left: thin solid #6c6c6c;
}


.newQuote, .new {
  background-color: #308acc;
  color: #FFFFFF;
}

.newQuoteBorder {
  border-color: #308acc;
}

.hot {
  background-color: #e2080b;
  color: #FFFFFF;
}
.hotAlt {
  background-color: rgba(250, 28, 29, 0.49);
  color: #FFFFFF;
}
.hotBorder {
  border-color: #e2080b;
}
.medium {
  background-color: #f2d930;

}
.mediumAlt {
  background-color: #f2e172;

}
.mediumBorder {
  border-color: #f2e172;
}

.cold {
  background-color: #0ab306;

}
.coldAlt {
  background-color: #56b354;
}
.coldBorder {
  border-color: #0ab306;
}

.holdOrder {
  background-color: #000000;
  color: #FFFFFF;
}

.hold {
  background-color: #afafaf;
}
.holdAlt {
  background-color: #d7d7d7;
}
.holdBorder {
  border-color: #afafaf;
}

.white {
  background-color: #FFF;
}
.whiteAlt {
  background-color: #d7d7d7;
}


.archived {
  background-color: #575757;
  color: #FFFFFF;
}
.passedAlt {
  background-color: #747474;
  color: #FFFFFF;
}
.archivedBorder {
  border-color: #575757;
}

.quoteActions {
  cursor: pointer;
  text-decoration: underline;
}

.quoteDateBox, .quoteDateBoxList  {
  float: left;
  line-height: 14px;
  width: 70px;
  position: relative;
  z-index: 1;
  font-size: 11px;
}

.quoteDateBoxList  {
  width: 60px;
  border: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  text-align: center;
  cursor: pointer;
}

