.quoteDetailsColumn {
//  background-color: #51a351;
  width: 298px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}


.customerBoxDetailsTitle, .customerInfoTitle  {
  width: 300px;
  font-size: 16px;
  height: 20px;
  float: left;
  margin-bottom: 8px;
  font-weight: bold;

  //margin-top: 10px;

}
.customerInfoTitle {
  width: 130px;
  height: 18px;
}

.customerBoxDetailsLeft, .customerBoxDetailsRight {
  font-size: 14px;
  width: 40%;
  height: 22px;
  float: left;
}


.customerBoxDetailsLeftPlus, .customerBoxDetailsRightPlus {
  margin-top: 10px;
  font-size: 14px;
  width: 40%;
  height: 20px;
  float: left;
}
.estCompletion {
  font-size: 10px;
  line-height: 14px;
  width: 80%;
  float: left;
}
.customerBoxDetailsRight {
  width: 60%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#quoteNotes, #productionDetailNotes, #po {

  border: 1px solid #e7e7e7;

}

#savingMessageComment, #savingMessageNote {
  font-size: 12px;
  width: 100px;
  margin-bottom: 10px;
  float: left;
  line-height: 20px;
  margin-top: -17px;
  margin-left: 5px;
}


#savingMessageCommentFlow3 {
  font-size: 12px;
  width: 60px;
  margin-bottom: 10px;
  float: left;
}
.customerTitle, .quoteDetailsTitle {
  font-size: 18px;
  width: 230px;
  margin-top: 10px;
  float: left;
  line-height: 20px;
}

.quoteCommentSpacer {
  width: 210px;
  font-size: 14px;
  float: left;
}

.orderNotes {
  width: 210px;
  font-size: 14px;
  float: left;
  margin-top: 10px;
}

.quoteDetailsTitle {
  width: 100%;
}
.quoteDetailsOldModule {
  font-size: 12px;
  float: left;
  font-weight: lighter;
  color: red;
  margin-bottom: 15px;
}

.quoteDetailsQuote {
 //Could have a special color here
}
.customerBoxDetails {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.quoteDetailNotes, .orderDetailNotes{
  height: 160px;
  width: 270px;
  margin-bottom: 15px;
  padding: 10px;
  resize: none;
}

.quoteDetailNotesFlow3 {
  height: 30px;
  width: 880px;
  margin-bottom: 15px;
  padding: 10px;
  resize: none;
}

.orderDetailNotes {
  width: 240px;
}


.manifestNotes{
  height: 235px;
  width: 400px;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: bold;
  resize: none;
}
