.quoteSavedBox {
  width: 450px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  margin-top: 160px;
  position: relative;
}

.Alt {
  background-color: #f1f1f1;
}

.quoteIcons {

  height: 20px;
  margin-right: 8px;
  cursor: pointer;

}

.quoteSavedTitle, .quoteSavedInfoText, .quoteSavedStatusBox {

  float: left;
  width: 80%;
  font-size: 20px;
  /*background-color: #0025fe;*/
  font-family: open_sanslight;
  padding-left: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quoteSavedStatusBox {
  text-align: center;
  padding-left: 0;
  width: 100%;
  margin-top: 80px;
  font-size: 22px;
  font-family: open_sansbold;
  position: absolute;
  bottom: 80px;
}

.quoteSavedTitle {
  height: 65px;
  margin-top: 10px;
}

.quoteSavedButtonBox {
  height: 44px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
}

.quoteEmailButton, .quoteViewButton {
  border-color: #339ddb;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  float: left;
  height: 42px;
  line-height: 44px;
  text-align: center;
  width: 180px;
  margin-right: 10px;
  margin-left: 10px;
}

.quoteLeft {
  text-align: left;
  padding-left: 8px;
}

.quoteActionButtons, .quoteActionButtonsLeft, .quoteActionButtonsWide, .quoteActionButtonsTemp, .productionActionButtons {
  height: 44px;
  width: 125px;
  font-size: 16px;
  float: left;
  border-color: #d6d6d6;
  line-height: 44px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  text-align: center;
  z-index: -10;
  background-color: #fefefe;
  cursor: pointer;
}

.productionActionButtons {
  width: 135px;
}
.quoteActionButtonsTemp {
  display: block;
  clear: both;
  margin-left: 100px;
  margin-top: 50px;
}
.quoteActionButtonsWide {
  width: 165px;
}

.extraWide {
  width: 300px;
}

.quoteActionButtonsLeft {
  margin-left: 0px;
}

.quoteDetailsBox {
  margin-top: 168px;
  width: 928px;

  background-color: #efefef;
  border-style: solid;
  border-width: 4px;
  border-color: #6c6c6c;
  padding: 10px;

}

.quoteActionsBox {
  width: 960px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;

}

.emailBox {
  width: 956px;
  min-height: 220px;
  background-color: #efefef;
  float: left;
  margin-bottom: 15px;
  border-color: #6c6c6c;
  border-width: 1px;
  border-style: solid;

}

#emailAddresses, #emailMessage, #emailSubject {
  margin-left: 10px;
  margin-top: 12px;
  line-height: 30px;
  font-family: open_sansregular;
  font-size: 18px;
  padding-left: 10px;
  float: left;
  width: 730px;
  border-color: #6c6c6c;
  border-width: 1px;
  border-style: solid;

}

#emailFilesNames{
  margin-left: 10px;
  margin-top: 12px;
  line-height: 30px;
  font-family: open_sansregular;
  font-size: 18px;
  padding-left: 10px;
  float: left;
  width: 730px;
}

.deleteAttachment{
    color: red;
}

#emailMessage {
  font-size: 14px;
  resize: none;
}

.emailButtons, .emailQuoteSpinner {
  margin-top: 12px;
  width: 140px;
  height: 45px;
  text-align: center;
  font-size: 16px;
  float: right;
  margin-right: 30px;
  line-height: 45px;
  cursor: pointer;
  background-color: #fefefe;
  color: #000000;
}

.emailQuoteSpinner {
  background-color: transparent;
  margin-top: 20px;
  height: 37px;

}

.emailButtons:first-of-type {
  background-color: #3aa14c;
  color: #ffffff;
}

.emailInfo {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 18px;

}

.emailCheckBoxContainer {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.quoteOverView {
  width: 952px;
  color: #2e2e2e;
  margin-top: -25px;
}

.companyInfoTitle {
  font-size: 20px;
  margin-top: 10px;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.companyInfo {

  font-size: 14px;
  float: left;
  width: 100%;
  text-align: center;
}

.quoteOverViewBox, .itemsOverViewBox, .quoteOverViewBoxNoPadding {

  margin-top: 15px;
  width: 100%;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #6c6c6c;
  padding-bottom: 10px;
}

.itemsOverViewBox {
  margin-top: 25px;
  margin-bottom: 40px;
}

.quoteOverViewBox {
  margin-bottom: 25px;
}

.quoteOverViewBoxNoPadding {
  padding-bottom: 0px;
  margin-top: 0px;
}

.leftProjectBox, .rightProjectBox {
  margin-top: 20px;
  margin-left: 14px;
  float: left;
}

.leftProjectBox {
  width: 550px;
}

.rightProjectBox {
  width: 350px;
  height: 160px;
}

.leftProject, .leftProjectLong, .leftProjectLongShorter, .rightProject, .rightProjectShort, .leftProjectLong, .rightProjectShorter, .leftProjectLongLeft, .rightMiddle, .rightEnd, .leftProjectLongLight, .leftProjectLongLightRed, .leftAddress, .rightAddress {
  font-size: 14px;
  line-height: 26px;
  height: 26px;
  float: left;
}

.font14 {
  font-size: 14px;
}

.rightProjectShorter {
  width: 170px;
  margin-left: 25px;
}

.rightMiddle {
  width: 30px;
  margin-left: 25px;
}

.rightEnd {
  width: 140px;
  margin-left: 10px;
  font-weight: bold;
}

.leftProjectLong, .leftProjectLongShorter, .leftProjectLongLeft, .leftProjectLongLight, .leftProjectLongLightRed {
  font-weight: bold;
  width: 230px;
  text-align: right;
}

.leftProjectLongLight {
  font-weight: normal;
}

.leftProjectLongLightRed {
  font-weight: normal;
  color: red;
  text-align: left;
}

.addPaddingBilling {
  padding-left: 10px;
  width: 220px;
}

.leftProjectLongLeft {
  text-align: left;
}

.UkTermsLeft {
  font-weight: bold;
  width: 135px;
  text-align: left;
  float: left;
  padding-top: 11px;
}

.UkTermsRight {
  font-weight: bold;
  width: 270px;
  text-align: left;
  float: left;
}


.leftProject {
  font-weight: bold;
  width: 150px;
}

.leftProjectLong {
  font-weight: bold;
  width: 200px;
}

.leftProjectLongShorter {
  font-weight: bold;
  width: 170px;
}

.customerSignatureLeft {
  font-weight: bold;
  width: 190px;
  text-align: right ;
  float: left;
}

.customerSignatureRight {
  width: 200px;
  font-size: 16px;
  line-height: 26px;
  height: 26px;
  float: left;
}


.rightProjectShort {
  width: 170px;
}

.rightProject {
  width: 360px;
}

.projectCommentsTitle {
  width: 100%;
  font-weight: bold;
}

.projectComments {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
}

.ukSiteTerms {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  float: left;
  margin-left: 26px;
  margin-top: 10px;
}

.manifestTerms {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 30px;
  float: left;
  font-size: 14px;
  line-height: 16px;
}

.projectSpacer {
  width: 100%;
  height: 10px;
  display: inline-block;
}

.projectSpacerThin {
  width: 100%;
  height: 0px;
  display: inline-block;
}

.projectHalfTitle {
  width: 49%;
  float: left;
}

.projectHalfVerticalLine {

  height: 205px;
  width: 1px;
  background-color: #000000;
  float: left;
}

.projectHalf {
  margin-top: 10px;
  width: 450px;
  float: left;
  margin-left: 20px;

}

.manifestHalf {
  margin-top: 10px;
  width: 400px;
  float: left;
  margin-left: 20px;

}

.dollar {
  width: 10px;
  float: left;
  font-size: 18px;
  line-height: 26px;
}

.rightMoney {
  text-align: right;
  width: 150px;
  float: left;
  font-size: 18px;
  line-height: 26px;

}

.full {
  width: 100%;
  float: left;
}

.keepTogether {
  //  page-break-inside:avoid !important;
}

#paginationBox {
  width: 100%;
  float: left;
  margin-left: 15px;
}

#pagination {
  float: left;
  margin-bottom: 20px;
}

.page-link {
  cursor: pointer;
}

#limitPullDown {
  float: left;
  width: 150px;
  height: 30px;

}

#limitPullDownText {
  float: left;
  line-height: 25px;
  margin-right: 10px;

}

#myLimit {
  width: 80px;
  float: left;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */

}

.red {
  color: red;
}

.termsAndConditionsOnQuote {
  float: left;
  height: 150px;
  width: 450px;

}

.termsAndConditionsOnQuoteDefault {
  float: left;
  width: 450px;

}

.textAreaFieldUpdate {
  float: left;
  width: 260px;
  height: 100px;
  resize: none;
  padding: 10px;
  font-size: 14px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid #e7e7e7;

}

#contractDetails{
    &.hasContract{
        #contractPreview{
            cursor: pointer;
            visibility: visible;
        }
        #deleteContract{
            display: block;
        }
    }
    #deleteContract, #downloadLink{
        display: none;
    }
    #contractPreview{
        width: 150px;
        height: 200px;
        visibility: hidden;
    }
    input[type="file"]{
        display: none;
    }
}
.discount {
  font-size: 14px;
}