.customerFlow2, .customerFlow2Long {
  //  background-color: #51a351;
  width: 400px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.rightSideQuote {
  float: left;
  width: 500px;
}

.customerFlow2Long {
  width: 500px;
}

.customerBoxDetailsLeftFlow2, .customerBoxDetailsRightFlow2, .customerBoxDetailsRightFlow2Long, .customerBoxDetailsLeftFlow2Relative{
  font-size: 14px;
  width: 130px;
  height: 20px;
  margin-bottom: 5px;
  float: left;
}

.customerBoxDetailsLeftFlow2Relative {
  position: relative;
}

.customerBoxDetailsRightFlow2 {
  width: 240px;
}
.customerBoxDetailsRightFlow2Long {
  margin-top: 0;
  width: 280px;
}

.chargeDiscountBox {
  float: left;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}
.chargeDiscountNotice {
  color: red;
  width: 100%;
  float: left;
  margin-top: -3px;
  font-size: 12px;
}

.quoteDetailsTitleFlow2 {
  font-size: 18px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  line-height: 20px;
  width: 100%;
}

.fieldUpdate {
  width: 240px;
  line-height: 18px;
  font-size: 14px;
  border: 1px solid #e7e7e7;
}

.fieldUpdateSmall {
  width: 120px;
}

#terms {
  margin-top: -15px;
  clear: both;
}

.invoiceShipping {
  width: 100%;
  margin-top: 5px;
  float: left;
  margin-bottom: 15px;
}

#SaveChangesAndConvert {
  margin-bottom: 15px;
}

#payWithCreditCard {
  margin-right: 20px;
  float: left;
}