#salesAdminMasterBox {

  width: 730px;
  height: 400px;
  z-index: 110;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 70px;
  left: 0;
  right:0;
  display: none;

}

#salesAdminBox {
  width: 755px;
  float: left;
  background-color: #efefef;
  border-color: #686868;
  border-style: solid;
  border-width: 1px;
  color: black;
  padding-bottom: 10px;
  margin-bottom: 120px;
  margin-top: -60px;
}
.salesAdminSplitLeft {
  width: 50%;
  float: left;

}

.salesAdminSplitRight {
  width: 50%;
  float: left;

}

.specialTaxBoxAmount {
  float: left;
  font-size: 14px;
  height: 28px;
  line-height: 29px;
}

.specialTaxBox  {
  padding-top: 20px;
  height: 30px;
}

.specialTax {
  margin-left: 20px;
  font-size: 22px;
  width: 50px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}


.salesAdminTitle {
  margin-left: 20px;
  font-size: 22px;
  width: 100%;
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
.salesAdminText {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
  width: 80%;
  float: left;
  line-height: 15px;
  margin-bottom: 5px;
}
.SALeft {
  margin-left: 20px;
}
.SALeft, .SARight {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  width: 40%;
  float: left;

}

.SAInput {
  width: 100px;
  height: 20px;
}

.Spacer {
  height: 20px;
  width: 100%;
  float: left;
}

.salesAdminCheckBox {
  margin-left: 20px;
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 25px;
  height: 25px;
}

.SACB {
  margin-top: 0px;
}

.SABottomButton {
  margin-top: 0px;
  float: left;
  width: 100px;
  margin-left: 165px;
}

.SACodeText {
  margin-top: px;
  float: left;
  width: 60px;
  margin-left: 20px;
  height: 46px;
  line-height: 44px;
  font-size: 15px;
}

.SACode {
  margin-top: 12px;
  width: 60px;
  float:left;
}

.SACodePreTax {
  margin-top: 5px;
  width: 60px;
  float:left;
  font-size: 12px;
}



#saleAdminLauncher {
  float: right;
  margin-top: 13px;
  margin-right: 5px;
  cursor: pointer;

}


.DiscountBoxHeader {
  width: 100%;
  float: left;
  font-size: 15px;
  vertical-align: center;
  margin-left: 15px;
  font-weight: bold;

  //  line-height: 30px;
}

.discountBoxTotals {
  width: 100%;
  float: left;
  font-size: 14px;
  vertical-align: center;
  margin-left: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  //  line-height: 30px;
}

.saDiscountBox {

  margin-top:2px;
  width: 100%;
  height: 28px;
  float: left;
  font-size: 14px;
  vertical-align: center;
  margin-left: 15px;
//  line-height: 30px;
}

.discountRowBox {
  float: left;
}
.discountName {
  width: 120px;
  height: 18px;
  font-size: 14px;
}
.discountAmount {
  margin-left: 25px;
  height: 18px;
  width: 59px;
  margin-right: 15px;
  text-align: right;
}
.discountType {
  margin-left: 5px;
  width: 20px;
}

.discountTypeText {
  margin-left: 1px;
  float: right;
  line-height: 23px;
  margin-right: 5px;
  font-size: 14px;

}
.discountRowBoxDelete, .additionalExtraRowBoxDelete {
  float: left;
  font-size: 12px;
  margin-left: 10px;
  line-height: 26px;
  cursor: pointer;
  margin-top: -2px;
}

.additionalExtraRowBoxDelete {
  margin-top: 2px;
}


.discountRowBoxName {
  width: 160px;
  float: left;
  font-size: 14px;
}
.discountRowBoxNameRight, .discountRowBoxNameRightRed {
  width: 130px;
  padding-right: 20px;
  float: left;
  text-align: right;
  line-height: 26px;
  font-size: 14px;

}
.discountRowBoxNameRightRed {
  color: red;
}

.discountRowBoxAmount {
  width: 90px;
  float: left;
  font-size: 14px;
}
.discountRowBoxAmountRight,.discountRowBoxAmountRightRow  {
  width: 80px;
  float: left;
  text-align: right;
  margin-right: 10px;
  line-height: 26px;
}

.discountRowBoxAmountRightRow  {
  color: red;
}

.discountRowBoxType {
  width: 120px;
  float: left;

}

.discountButtonBox {
  width: 100%;
  float: left;
  margin-left: 15px;
}
.discountButton, .addExtrasButton {
  height: 34px;
  width: 105px;
  font-size: 14px;
  float: right;
  border-color: #d6d6d6;
  line-height: 34px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  text-align: center;
  z-index: -10;
  color: #FFFFFF;
  background-color: #45a352;
  cursor: pointer;
  margin-right: 45px;
}

.addExtrasButton {
  margin-right: 15px;
}
.discountMainBox, .discountMainBoxTotals  {
  padding-top: 20px;
  height: 200px;
}
.discountTaxBox, .discountOtherTotals {
  background-color: #006dcc;
  padding-right: 22px;
}
.discountRowTaxBox, .discountRowTaxBoxDelete  {
  float: right;
  font-size: 14px;
  height: 28px;
  line-height: 29px;
//  background-color: #006dcc;
//  width: 35px;
}

.discountRowTaxBoxDelete {
  width: 55px;

}

.percentAmount, .fixedAmount, .resell  {
  margin-left: 25px;
  height: 18px;
  width: 59px;
  margin-right: 15px;
  text-align: right;
  font-size: 14px;
}

.resell {
  width: 88px;
  margin-left: 5px;
  margin-right: 5px;
  color: red;
}
.resellSmall {
  font-size: 12px;
}
.percentAmount {
  width: 39px;
  margin-left: 45px;
}
.taxLine {
  margin-right: 30px;
  border-top: solid;
  border-width: 1px;
  width: 300px;
  float: right;
}

.totalsLine {
  border-top: solid;
  border-width: 1px;
  width: 350px;
  float: left;
  margin-bottom: 10px;
}

.totalsFullLine {
  border-top: solid;
  border-width: 1px;
  width: 96%;
  float: left;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 2%;
  margin-right: 2%;
}

.leftHeaderSpacer {
  height: 17px;
  width: 100%;
  float: left;
}

.editDiscountButtons {
  height: 34px;
  width: 150px;
  font-size: 14px;
  float: left;
  border-color: #d6d6d6;
  line-height: 34px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  text-align: center;
  z-index: -10;
  background-color: #fefefe;
  cursor: pointer;
}

.markUpText {
  margin-top: -15px;
  font-size: 12px;
  padding-right: 65%;
  width: 35%;
  float: left;
  line-height: 15px;
  margin-left: 20px;


}

.salesAdminRadio {
  float: left;
  margin-top: 5px;
}

.flow3SalesAdminButton {
  cursor: pointer;
}