//body {
//    font-family: open_sanslight;
//    font-size: 20px;
//    color: #999999;
//}
#signMainContent {
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    /*display: none;*/
    /*background-color: #39cc4d;*/

}




#signSwitcher, #signInButton, #forgotPassword, #signUpButton, #proceedToQuote, #proceedAsGuest{
    width: 298px;
    height:44px;
    text-align: center;
    line-height: 44px;
    border-width: 1px;
    border-color: #339ddb;
    border-style: solid;
    float: left;
    cursor: pointer;

}

#signInButton {
    margin-top: 30px;
}
#forgotPassword {
    margin-top: 20px;
}

#signInSwitcher, #signUpSwitcher, #signInOnly {
    width: 149px;
    height:44px;
    float: left;
    color: #339ddb;

}

#signInOnly {
    width: 298px;
    background-color: #339ddb;
    color: #FFFFFF;
}

#signInSwitcher {

    background-color: #339ddb;
    color: #FFFFFF;
}

#emailLabel {
    margin-top: 42px;
}
#passwordLabel, #leadTypeLabel {
    margin-top: 23px;
}
#emailLabel, #passwordLabel, #leadTypeLabel {

    margin-bottom: -3px;
    float: left;
    height: 31px;
    padding-left: 10px;
    font-family: open_sanslight;
}

#rememberMeCheckBox {
    margin-top: 5px;
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
}

#rememberMe {
    margin-top: 0px;
}


#errorMessageLogin {
    float: left;
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -0px;
    width: 100%;
}

.emailSignIn, .passwordSignIn {
    font-family: open_sansregular;
    float: left;
    font-size: 22px;
    width: 298px;
    height: 40px;
    border-width: 1px;
    border-color: #eaeaea;
    border-style: solid;
    padding-left: 10px;
}

.signUpLabel, .errorMessage {

    margin-bottom: -3px;
    float: left;
    height: 31px;
    padding-left: 10px;
    margin-top: 30px;
    font-family: open_sanslight;
    width:100%;
}

.errorMessage {
    display: none;
    margin-top: 0px;
    color: red;
}



.signUpField {
    font-family: open_sansregular;
    float: left;
    font-size: 22px;
    width: 288px;
    height: 40px;
    border-width: 1px;
    border-color: #eaeaea;
    border-style: solid;
    padding-left: 10px;
}
#password {
    font-size: 30px;
    font-family: Courier;
    padding-top: 7px;

}

.safari #password {
  padding-top: 0;
}


#signUpButton, #proceedToQuote, #proceedAsGuest {
    margin-top: 40px;
}


.passwordSignIn {

    /*margin-top: 30px;*/
}

#salesAdmin {
  line-height: 44px;
  float: right;
  margin-right: 10px;
}