.dimensionNote, .sizeNote, .sizeNoteRed, .sizeNoteMulti {
    width: 600px;
    height: 44px;
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
    margin-bottom: 0px;
}

.sizeNote {
    width: 700px;
    margin-bottom:30px;
}
.sizeNoteMulti {
    width: 700px;
}
.sizeNoteRed {
    width: 700px;
    color: red;
    height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#dimensionsInput {
    width: 600px;
    float: left;
    clear: both;
    margin-bottom: 50px;
}

#width, #height {
    margin-left: 10px;
    line-height: 42px;
    height: 42px;
    font-family: open_sansregular;
    font-size: 24px;
    padding-left: 10px;
    float: left;
    width: 160px;
    border-width: 1px;
    border-style: solid;
    clear: both;
}
#widthNote, #heightNote {

    margin-top: 30px;
    margin-left: 20px;
    height: 44px;
    float: left;
    margin-bottom: -20px;
    font-size: 14px;
    font-family: open_sanslight;
    clear: both;


}
#widthInch, #heightInch {

    float: left;
    height:44px;
    font-size: 24px;
    line-height: 44px;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#widthInput {
    float: left;
    width: 600px;


}
#widthError, #heightError {
    padding-left: 20px;
    padding-top: 5px;
    width: 300px;
    height: 46px;
    font-size: 14px;
    line-height: 18px;
    float: left;
    color: darkred;

}

.button {
    /*width: 750px;*/
    /*background-color: #fff9c0;*/
    /*height: 150px;*/
    margin-top: 35px;
    float: left;
    margin-right: 50px;
    cursor: pointer;
    max-width: 900px;
    min-height: 220px;
    text-align: center;
    position: relative;
    &.doorStyle{
        margin-right: 0;
    }
    #glassChoices &, #glassOptions &{
        max-width: 120px;
        .buttonLabel{
            height: auto;
        }
    } 
}
.buttonImages {
    /*width: 100%;*/
    /*background-color: #fff9c0;*/
    /*height: 150px;*/
    /*margin-top: 35px;*/

}
.buttonLabel
{
    /*background-color: #00aaaa;*/
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 0px;
    height: 30px;
    /*background-color: #44ac61;*/
    line-height: 30px;
    clear: both;
    font-size: 18px;
    color: #000000;


}
.buttonImage
{
    /*background-color: #d9db3d;*/
    /*width: 550px;*/
    float: left;
    width: 100%;
    vertical-align: middle;
    position: relative;
    .extendedSelectedDiv{
        z-index: 1;
        margin-top: 0;
        padding-left: 0;
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 21px);
    }
    /*margin-right: 50px;*/
}
.buttonDoor {
    width: 100%;
    /*background-color: #fff9c0;*/
    height: 150px;
    margin-top: 35px;


}

#chooseDimensions {
//    margin-top: 88px;
    height: 370px;
}

#chooseDimensions, #frame, #panels, #track, #movement, #swingDirection , #swingInOrOut , #chooseVinylFinish, #screensUS{
    margin-left: 10px;
    float: left;
}


.myGreen {
  background-color: #33a251;
  color: #FFFFFF;
}

#nextSection {
    margin-bottom: 100px;
    margin-left: 300px;
    float: left;
}