.windowSection {

  float: left;
  margin-top: 27px;
  width: 36px;
  height:100%;
  clear: left;

}

.windowSeparator {
  float: left;
  width: 100%;
  height: 2px;
  background-color: #005580;
 clear: both;

}

.sectionEnd {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}


.windowButton {
  width: 80px;
  height: 80px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  position: relative;
  .selectedDiv {
    top: calc(50% - 21px);
  }
}

.windowButtonImage {
  width: 100px;
  height: 90px;
  float: left;

  /*background-color: #0814aa;*/
}


.rowExtendFlow2 {
  width: 153.5px;
}
