
#left {
    width: 420px;
    float: left;
}

#size, #design, #details, #parts, #glass, #items  {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    float: left;
}


#design {
    width: 400px;
    clear: both;
}
#design td:nth-child(1){
    width:200px;
}
#parts {
    margin-top: 22px;
    width: 820px;

}
#parts td:nth-child(1){
    width:50px;
}
#parts td:nth-child(2){
    width:300px;
}
#details {
    /*margin-top: 22px;*/
    width: 400px;
    float: left;
    margin-bottom: 15px;
}
#details td:nth-child(1){
    width:200px;
}
#size {
    margin-top: 25px;
    width: 400px;
}
#size td:nth-child(1){
    width:150px;
}
#glass {
    float: left;
    margin-top: 15px;
    width: 820px;

}
#items {

    margin-top: 15px;
    width: 480px;
    margin-bottom: 30px;
}
#items td:nth-child(1){
    width:50px;
}
#items td:nth-child(2){
    width:300px;
}

td, th {
    font-size: 1em;
    text-align: right;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #000;
    color: #ffffff;
}

tr.alt td {
    color: #000000;
    background-color: #eeeeee;
}
td:nth-child(1){
    width:200px;
}

#topBar {
    width:830px;
    display: inline-block;
    float: left;

}
#job, .dates, #material {
    float: left;
    font-size: 18px;
    margin-top: 4px;
    clear: both;

}
#material {
    font-size: 36px;
    text-align: center;
    clear: both;
    /*background-color: #dd514c;*/
    float: left;
    width: 890px;
    display: block;
    margin-left: -30px;
    margin-bottom: 20px;

}
#rightTopBar {
    float: right;
    width: 250px;
    margin-top: 5px;
}

body {
    height:1200px;
}

#panel {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 550px;
    height: 115px;
}

.panelImage {
    height: 115px;
}
