
#left {
    width: 320px;
    float: left;
}

#size, #design, #details, #parts, #glass, #items, #total, #color, #profit  {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}


#design {
    width: 300px;
}
#design td:nth-child(1){
    width:200px;
}
#parts {
    margin-top: 22px;
    width: 720px;
}
#parts td:nth-child(1){
    width:50px;
}
#parts td:nth-child(2){
    width:300px;
}
#parts td:nth-child(3), #parts td:nth-child(4){
    text-align: right;
    padding-right: 25px;
}
#parts td:nth-child(5){
    text-align: right;
    padding-right: 40px;
}
#parts td:nth-child(6){
    width:65px;
    text-align: right;
}
#details {
    margin-top: 22px;
    width: 400px;
}
#details td:nth-child(1){
    width:200px;
}

#size {
    margin-top: 25px;
    width: 300px;
}
#size td{
    text-align: right;
    padding-right: 20px;
}
#size td:nth-child(1){
    width:150px;
    text-align: left;
}
#glass {
    margin-top: 15px;
    width: 720px;
}
#glass td{
    text-align: center;
}
#glass td:nth-child(1){
    text-align: left;
}
#glass td:nth-child(7){
    width:70px;
    text-align: right;
}
#items, #total {
    margin-top: 15px;
    width: 720px;
    margin-bottom: 30px;
}
#items td:nth-child(1){
    width:50px;
}
#items td:nth-child(2){
    width:300px;
}

#items td:nth-child(3){
    text-align: center;
}
#items td:nth-child(4){
    text-align: right;
    padding-right: 60px;
}
#items td:nth-child(5){
    width:70px;
    text-align: right;
}


td, th {
    font-size: 1em;
    text-align: left;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #000;
    color: #ffffff;
}

tr.alt td {
    color: #000000;
    background-color: #eeeeee;
}
td:nth-child(1){
    width:200px;
}

#topBar {
    width:730px;
    display: inline-block;
}
#job, .dates, #material {
    float: left;
    font-size: 18px;
    margin-top: 4px;
    clear: both;

}
#material, #titleRight {
    font-size: 36px;
}
#rightTopBar {
    float: right;
    width: 180px;
    margin-top: 5px;
}

body {
    height:1600px;
}

#panel {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 500px;
    height: 115px;
}

.panelImage {
    height: 115px;
}
#total th {
    text-align: right;
}
#total th:nth-child(2){
    width:70px;
    text-align: right;
    margin-bottom: 30px;
}



#color {
    margin-top: 15px;
    width: 720px;
    margin-bottom: 30px;
}
#color td:nth-child(1){
    width:530px;
}
#color td:nth-child(2){
    width:60px;
}


#profit {
    margin-top: 15px;
    width: 720px;
    margin-bottom: 30px;
}
#profit td:nth-child(1){
    width:530px;
}
#profit td:nth-child(2){
    width:60px;
}
