<!--<a href="?id=35">Example 1</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="?id=35">Example 2</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="?id=35">Example 3</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="?id=36">Example 4</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="?id=37">Example 5</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<hr>-->

<div id="topBar">
    <div id="panel"></div>

     <div id="rightTopBar">
        <div id="titleRight">Cost Sheet</div>
         <div id="material"></div>
    </div>
</div>

<div id="bottom">
    <div id="left">
        <table id="design">
            <tr>
                <th colspan="2">Design</th>

            </tr>
            <tr>
                <td>Total Panels</td>
                <td id="totalPanels"></td>

            </tr>
            <tr class="alt">
                <td>Swing Doors</td>
                <td id="swingDoors"></td>
            </tr>
            <tr>
                <td>Sliding Panels Left</td>
                <td id="slidingLeft"> </td>
            </tr>
            <tr class="alt">
                <td>Sliding Panels Right</td>
                <td id="slidingRight"> </td>
            </tr>
        </table>

        <table id="size">
            <tr>
                <th >NET SIZE</th>
                <th >INCHES</th>
                <th >MM</th>

            </tr>
            <tr>
                <td>Width</td>
                <td id="width"> </td>
                <td id="widthMM"> </td>

            </tr>
            <tr class="alt">
                <td>Height</td>
                <td id="height"> </td>
                <td id="heightMM"> </td>
            </tr>
        </table>
    </div>

    <table id="details">
        <tr>
            <th colspan="2" >Door Details</th>

        </tr>
        <tr>
            <td>Operation</td>
            <td id="operation"></td>

        </tr>

        <tr>
            <td>Exterior Finish</td>
            <td id="exteriorFinish"> </td>

        </tr>
        <tr class="alt">
            <td>Interior Finish</td>
            <td id="interiorFinish"></td>

        </tr>
        <tr class="alt">
            <td>Frame</td>
            <td id="frame"></td>

        </tr>
        <tr>
            <td>Track</td>
            <td id="track"></td>

        </tr>
        <tr class="alt">
            <td>Handles</td>
            <td id="handles"></td>

        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

        </tr>
        <tr class="alt">
            <td>&nbsp;</td>
            <td>&nbsp;</td>

        </tr>

    </table>
</div>

<table id="glass">
    <tr>
        <th>Glass</th>
        <th>Width Inches</th>
        <th>Width MM</th>
        <th>Height Inches</th>
        <th>Height MM</th>
        <th>QTY</th>
        <th>Cost</th>
    </tr>

</table>

<table id="parts">
    <tr>
        <th>Part #</th>
        <th>Cut Part</th>
        <th>Inches</th>
        <th>MM</th>
        <th>Lengths</th>
        <th>Cost</th>
    </tr>

</table>


<table id="items">
    <tr>
        <th>Part #</th>
        <th>Items Description</th>
        <th>Quantity</th>
        <th>Cost Per Item</th>
        <th>Cost</th>
    </tr>

</table>


<table id="total">
    <tr>
        <th>Total</th>
        <th id="totalTag"></th>
    </tr>

</table>

