.sillDimensionBox {
  width: 185px;
  float: left;
  //background-color: #00b3ff;
}


.extraDim{
  margin-left: 0px;
  line-height: 30px;
  font-family: open_sansregular;
  font-size: 20px;
  padding-left: 10px;
  float: left;
  width: 100px;
  border-color: #339ddb;
  border-width: 1px;
  border-style: solid;
  clear: both;
  text-align: center;
}


.sillUnit {
  float: left;
  height:32px;
  font-size: 20px;
  line-height: 32px;
  border-color: #339ddb;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  padding-left: 5px;
  padding-right: 5px;
}


.sillNote {
  margin-left: 0px;
  float: left;
  margin-bottom: 2px;
  font-size: 14px;
  font-family: open_sanslight;
  clear: both;
}


.sillDimensions {
  width: 720px;
  float: left;
  margin-top: 0px;
  font-size: 14px;
  line-height: 18px;
}


.sillDimensionsTitle {
  width: 720px;
  height: 25px;
  float: left;
  font-size: 16px;
  font-weight: bold;
}


.sillDimensionsDeductTitle {
  margin-top: 5px;
  width: 720px;
  height: 20px;
  font-size: 14px;
  float: left;
}


.extenderBox {
  margin-top: 25px;
  width: 720px;
  font-size: 14px;
  float: left;
}


.extenderBoxDeduct {
  margin-top: 10px;
  width: 500px;

  font-size: 14px;
  float: left;
}


.deductRadioButtonBox {
  width: 720px;
  float: left;
}


.deductRadioButton {
  float: left;
}


.deductRadioButtonLabel {
  float: left;
  margin-right: 10px;
  font-size: 14px;
}


#sillBuilder {
  width: 960px;
}