

.adminBox {
	margin-left: 10px;
}
.defaultWidth2 {
	width: 960px;
	float: left;
}

.mainBox {
	width: 960px;
	max-width: 100%
}

.siteWidth {
	margin-top: 20px;
	width: 940px;
}

.defaultWidth {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #1996BE;
}

.componentTitleFont {
	padding-top: 5px;
	font-size: 30px;
	height: 45px;
	color: #FFFFFF;
	border-color: #1996BE;
	float: left;
	width: 600px;
	background-color: transparent;
}

.addDescription {
	background-color: transparent;
	color: black;
	border-color: black;
	margin-top: 10px;
}

.noBackground {
	background-color: transparent;
	color: black;
	border-color: black;
	float: right;
	margin-left: 5px;
}

.descriptionPlacement {
	width: 880px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 16px;
	border-color: #1996BE;
	resize: none;
	background-color: transparent;
}

.titleText {
	font-size: 30px;
	color: #FFFFFF;
}

.descriptionTitleText {
	font-size: 16px;
	color: #FFFFFF;
	clear: both;
	margin-top: 5px;
	margin-left: 20px;
	line-height: 18px;
}

.editSave, .editSaveMenu {
	float: left;
	clear: both;
	width: 100%;
	float: left;
	margin-top: 5px;
	clear: both;
	margin-bottom: 20px;
}

.editSaveMenu {
	margin-left: 0px;
	width: 100%;
}

.thumbnail2 {
	width: 121px;
	height: 121px;
	/*background-color: #00b3ee;*/
	font-size: 90px;
	padding-top: 15px;
	padding-left: 15px;

}

.panelUploadImage {
	width: 52px;
	height: 121px;
	/*background-color: #00b3ee;*/
	font-size: 40px;
	padding-top: 40px;
	padding-left: 5px;
	float: left;
}

.system{
	cursor: pointer;
}
.systemTitle {
	float: left;
	width: 275px;
	height: 40px;
}
.systemImageUpload {
	width: 100%;
	height: 332px;
	/*background-color: #00b3ee;*/
	font-size: 150px;
	padding-top: 90px;
	padding-left: 60px;
	float: left;
	background-color: white;
	color: black;
}

.thumbnailOptionLong {
	width: 121px;
	height: 191px;
	/*background-color: #00b3ee;*/
	font-size: 90px;
	padding-top: 45px;
	padding-left: 15px;

}

.thinBorder2 {
	border: solid;
	border-color: black;
	border-width: 1px;
}

.thumbButton {
	text-align: center;
	margin-bottom: 5px;
	float: left;
}

.thumbOption {
	float: left;
	width: 121px;
	margin-right: 40px;
	margin-top: 0px;
	position: relative;
  display: flex;
  flex-direction: column;
}
.thumbOption .horizontalOption{
    display: flex;
    flex-direction: column;
    flex:1;
}
.panelOptions {
	float: left;
	width: 220px;
	margin-right: 40px;
	margin-top: 0px;
}

.panelOptions.short{
	width: 139px;
}

.panelOptionsSecondRow {
	float: left;
	width: 180px;
	margin-right: 40px;
	margin-top: 30px;
}
.panelOptionsSecondRow.long{
	width: 290px;
}

.doorImage{
	max-height: 120px;
	max-width: 50px;
}

.thumbnailTitle, .thumbnailNote {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: relative;
	clear: both;
	word-wrap: break-word;
}

.thumbnailNote {
	font-weight: normal;
}

.leftTitle {
	text-align: left;
}

.subColorMenu {
	float: left;
	width: 90px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	position: relative;
}

.subColorMenuNotSelected {
	opacity: .3;
}

.subColorThumbnail {
	width: 90px;
	height: 90px;
	/*background-color: #00b3ee;*/
	font-size: 60px;
	padding-top: 15px;
	padding-left: 15px;

}

.halfOption {
	float: left;
	width: 458px;
	margin-top: 40px;

}

.fullOption {
	float: left;
	width: 920px;
  max-width: 98%;
  margin-top: 20px;
  margin: 1%;
}

.horizontalOption {
	float: left;
	/*background-color: red;*/
	width: 100%;
	position: relative;
}

.optionsBox {
	width: 100%;
	float: left;
	clear: both;
	padding: 10px 5px;
	border: dashed;
	border-color: lightgray;
	border-width: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.optionsBox a{
	text-decoration: none;
}

.optionsBoxFrontEnd {
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
}
.editSaveDelete {
	float: left;
	clear: both;
	width: 100%;
	float: left;
	padding-right: 10px;
	margin-top: 5px;
	clear: both;
}

.horizontalImage {
	float: left;
	width: 121px;
	position: relative;
}


.horizontalPanelImage {
	float: left;
	width: 100%;
}

.systemImage {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.subColorImage {
	/*float: left;*/
	width: 90px;
}
.horizontalFullText, .horizontalHalfText {
	float: left;
	padding-left: 15px;
	padding-right: 20px;
	width: calc(100% - 121px);
	position: relative;
}

.horizontalHalfText {
	width: 318px;
}

.horizontalTitle {
	float: left;
	margin-top: 30px;
	font-weight: Bold;
	width: 100%;
	word-wrap:break-word;
}

.horizontalNote {
	float: left;
	font-weight: 400;
	width: 100%;
	word-wrap: break-word;
}

.optionTitle {
	width: 100%;
	font-size: 30px;
	color: white;
}

.optionNote {
	font-size: 14px;
	color: white;
}


.optionMenu {
	height: 48px;
	line-height: 48px;
	font-size: 24px;
	color: darkslategray;
	background-color: #FBFBFB;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;

}


.optionMenuChoosen {
	background-color: #558DE3;
	color: white;
}


.menuBox {
	/*margin-left: 10px;*/
	display: table;
	table-layout: fixed;
	/*float: left;*/
	width: 100%;
	height:44px;
}
.menuBox .optionMenu,
.menuBox .menuSpace {
	display: table-cell;
	height:44px;
	margin-right: 10px;
	position: relative;
	
}
.menuBox .optionMenu .optionMenuText{
	font-size: 20px;
	display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuSpace {
	width: 10px;
}

.groupTitle{
	position: relative;
}

.colorGroupMenu {
	float: left;
	width: 280px;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	position: relative;
}

.colorGroupButton, .colorGroupButton-NotSelected {
	width: 280px;
	border-color: #eaeaea;
}

.colorGroupButton-NotSelected {
	background-color: white;
	color: #4cae4c;
}

.rightButtons {
	float: right;
	margin-left: 5px;
}

.editable-empty,
.editable-empty:hover,
.editable-empty:focus{
	color: inherit;
	font-style: normal;
}
.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover{
	color: inherit;
}
.editable-click, a.editable-click, a.editable-click:hover{
	border-bottom: none;
	word-break: break-all;
}
.editable-click.hexPreview{
	font-size: 0;
	border-bottom: 1px solid;
}
.editable-click.hexButton{
	border-bottom: 1px solid #eaeaea;
}
.sq-popover-input{
	width: 190px !important;
}

.clearfix {
    clear: both;
}

.demoColorSelected, .demoGroupSelected, .demoSubGroupSelected {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 40px;
	left: 40px;
	background-image: url("../../../img/icon-selected.svg");
}

.horizontalImages {
	display: inline-block;
	width: 100%;
}

.horizontalImages img{
	padding-right: 4px;
}

.numberPlacement {
	float: left;
}

.numberPlacement span {
	font-weight: bold;
}

.numberPlacement .radio {
	margin: 0;
}

.titlePanels {
	width: 100%;
	margin: 0;
	display: block;
	text-align: center;
}

.horizontalContainer {
	float: left;
	margin-right: 15px;
	min-width: 130px;
}

.demoGroupSelected {
	top: -5px;
	left: 25px;
}
.demoSubGroupSelected {
	top: 24px;
	left: 24px;
}
.dropdown-properties .checkbox{
	margin: 0px;
	padding: 5px 0 5px 10px;
}

.examplesPanel {
	padding-top: 10px;
}

.examplesPanel .title {
	font-weight: bold;
	padding-bottom: 15px;
}

.panelExample {
	display: inline-block;
	padding: 0 20px 0 0;
}

.panelExample img {
	padding-right: 4px;
}

.panelExample div {
	font-weight: bold;
	text-align: center;
}

.panelTitle {
	float: left;
	margin-bottom: 5px;
	font-weight: Bold;
	width: 100%;
	word-wrap: break-word;
}

#nextSection {
	/*margin-bottom: 100px;*/
	margin-left: 350px;
	float: left;
}
.nextButton, #nextButtonHardware {
	width: 240px;
	height: 35px;
	/*margin-top: 50px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;
}

.nextTitle {
	/*background-color: #339ddb;;*/
	color: #339ddb;
	font-size: 20px;
	line-height: 39px;
	float: left;
	position: relative;
}

.nextImage {
	/*background-color: #db28d4;;*/
	color: #ffffff;
	float: left;
	margin-left: 20px;

}
.nextTab{
	position: relative;
}