.extendedButtonScreen{width:400px;height:120px;float:left;cursor:pointer;margin:15px}.extendedButtonTitleScreen{width:220px;height:30px;float:left;font-size:16px;font-weight:bold}.extendedButtonDescriptionScreen{width:220px;height:80px;float:left;margin-top:5px;font-size:14px;line-height:18px}
