
.adminBox {
  margin-left: 10px;
}

.defaultWidth2 {
  width: 960px;
  float: left;
}

.mainBox {
  width: 960px;
  max-width: 100%
}

.siteWidth {
  margin-top: 20px;
  width: 940px;
}

.defaultWidth {
  width: 100%;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #1996BE;
}

.componentTitleFont {
  padding-top: 5px;
  font-size: 30px;
  height: 45px;
  color: #FFFFFF;
  border-color: #1996BE;
  float: left;
  width: 600px;
  background-color: transparent;
}

.addDescription {
  background-color: transparent;
  color: black;
  border-color: black;
  margin-top: 10px;
}

.noBackground {
  background-color: transparent;
  color: black;
  border-color: black;
  float: right;
  margin-left: 5px;
}

.descriptionPlacement {
  width: 880px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 16px;
  border-color: #1996BE;
  resize: none;
  background-color: transparent;
}

.titleText {
  font-size: 30px;
  color: #FFFFFF;
}

.descriptionTitleText {
  font-size: 16px;
  color: #FFFFFF;
  clear: both;
  margin-top: 5px;
  margin-left: 20px;
  line-height: 18px;
}

.editSave, .editSaveMenu {
  float: left;
  clear: both;
  width: 100%;
  float: left;
  margin-top: 5px;
  clear: both;
  margin-bottom: 20px;
}

.editSaveMenu {
  margin-left: 0px;
  width: 100%;
}

.thumbnail2 {
  width: 121px;
  height: 121px;
  /*background-color: #00b3ee;*/
  font-size: 90px;
  padding-top: 15px;
  padding-left: 15px;

}

.panelUploadImage {
  width: 52px;
  height: 121px;
  /*background-color: #00b3ee;*/
  font-size: 40px;
  padding-top: 40px;
  padding-left: 5px;
  float: left;
}

.system {
  cursor: pointer;
}

.systemTitle {
  float: left;
  width: 275px;
  height: 40px;
}

.systemImageUpload {
  width: 100%;
  height: 332px;
  /*background-color: #00b3ee;*/
  font-size: 150px;
  padding-top: 90px;
  padding-left: 60px;
  float: left;
  background-color: white;
  color: black;
}

.thumbnailOptionLong {
  width: 121px;
  height: 191px;
  /*background-color: #00b3ee;*/
  font-size: 90px;
  padding-top: 45px;
  padding-left: 15px;

}

.thinBorder2 {
  border: solid;
  border-color: black;
  border-width: 1px;
}

.thumbButton {
  text-align: center;
  margin-bottom: 5px;
  float: left;
}

.thumbOption {
  float: left;
  width: 121px;
  margin-right: 40px;
  margin-top: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.thumbOption .horizontalOption {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.panelOptions {
  float: left;
  width: 220px;
  margin-right: 40px;
  margin-top: 0px;
}

.panelOptions.short {
  width: 139px;
}

.panelOptionsSecondRow {
  float: left;
  width: 200px;
  margin-right: 40px;
  margin-top: 30px;
}

.panelOptionsSecondRow.long {
  width: 300px;
}

.doorImage {
  max-height: 120px;
  max-width: 50px;
}

.thumbnailTitle, .thumbnailNote {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  clear: both;
  word-wrap: break-word;
}

.thumbnailNote {
  font-weight: normal;
}

.leftTitle {
  text-align: left;
}

.subColorMenu {
  float: left;
  width: 90px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

.subColorMenuNotSelected {
  opacity: .3;
}

.subColorThumbnail {
  width: 90px;
  height: 90px;
  /*background-color: #00b3ee;*/
  font-size: 60px;
  padding-top: 15px;
  padding-left: 15px;

}

.halfOption {
  float: left;
  width: 458px;
  margin-top: 40px;

}

.fullOption {
  float: left;
  width: 920px;
  max-width: 98%;
  margin-top: 20px;
  margin: 1%;
}

.horizontalOption {
  float: left;
  /*background-color: red;*/
  width: 100%;
  position: relative;
}

.optionsBox {
  width: 100%;
  float: left;
  clear: both;
  padding: 10px 5px;
  border: dashed;
  border-color: lightgray;
  border-width: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.optionsBox a {
  text-decoration: none;
}

.optionsBoxFrontEnd {
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}

.editSaveDelete {
  float: left;
  clear: both;
  width: 100%;
  float: left;
  padding-right: 10px;
  margin-top: 5px;
  clear: both;
}

.horizontalImage {
  float: left;
  width: 121px;
  position: relative;
}

.horizontalPanelImage {
  float: left;
  width: 100%;
}

.systemImage {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.subColorImage {
  /*float: left;*/
  width: 90px;
}

.horizontalFullText, .horizontalHalfText {
  float: left;
  padding-left: 15px;
  padding-right: 20px;
  width: calc(100% - 121px);
  position: relative;
}

.horizontalHalfText {
  width: 318px;
}

.horizontalTitle {
  float: left;
  margin-top: 30px;
  font-weight: Bold;
  width: 100%;
  word-wrap: break-word;
}

.horizontalNote {
  float: left;
  font-weight: 400;
  width: 100%;
  word-wrap: break-word;
}

.optionTitle {
  width: 100%;
  font-size: 30px;
  color: white;
}

.sampleDoorItem {
  text-transform: capitalize;
}

.optionNote {
  font-size: 14px;
  color: white;
}

.optionMenu {
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  color: darkslategray;
  background-color: #FBFBFB;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;

}

.optionMenuChoosen {
  background-color: #558DE3;
  color: white;
}

.menuBox {
  /*margin-left: 10px;*/
  display: table;
  table-layout: fixed;
  /*float: left;*/
  width: 100%;
  height: 44px;
}

.menuBox .optionMenu,
.menuBox .menuSpace {
  display: table-cell;
  height: 44px;
  margin-right: 10px;
  position: relative;

}

.menuBox .optionMenu .optionMenuText {
  font-size: 20px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuSpace {
  width: 10px;
}

.groupTitle {
  position: relative;
}

.colorGroupMenu {
  float: left;
  width: 280px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  position: relative;
}

.colorGroupButton, .colorGroupButton-NotSelected {
  width: 280px;
  border-color: #eaeaea;
}

.colorGroupButton-NotSelected {
  background-color: white;
  color: #4cae4c;
}

.rightButtons {
  float: right;
  margin-left: 5px;
}

.editable-empty,
.editable-empty:hover,
.editable-empty:focus {
  color: inherit;
  font-style: normal;
}

.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover {
  color: inherit;
  word-break: break-word;
}

.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: none;
  word-break: break-all;
}

.editable-click.hexPreview {
  font-size: 0;
  border-bottom: 1px solid;
}

.editable-click.hexButton {
  border-bottom: 1px solid #eaeaea;
}

.sq-popover-input {
  width: 190px !important;
}

.clearfix {
  clear: both;
}

.demoColorSelected, .demoGroupSelected, .demoSubGroupSelected {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 40px;
  left: 40px;
  background-image: url("../../../img/icon-selected.svg");
}

.horizontalImages {
  display: inline-block;
  width: 100%;
}

.horizontalImages img {
  padding-right: 4px;
}

.numberPlacement {
  float: left;
}

.numberPlacement span {
  font-weight: bold;
}

.numberPlacement .radio {
  margin: 0;
}

.titlePanels {
  width: 100%;
  margin: 0;
  display: block;
  text-align: center;
}

.horizontalContainer {
  float: left;
  margin-right: 15px;
  min-width: 130px;
}

.demoGroupSelected {
  top: -5px;
  left: 25px;
}

.demoSubGroupSelected {
  top: 24px;
  left: 24px;
}

.dropdown-properties .checkbox {
  margin: 0px;
  padding: 5px 0 5px 10px;
}

.examplesPanel {
  padding-top: 10px;
}

.examplesPanel .title {
  font-weight: bold;
  padding-bottom: 15px;
}

.panelExample {
  display: inline-block;
  padding: 0 20px 0 0;
}

.panelExample img {
  padding-right: 4px;
}

.panelExample div {
  font-weight: bold;
  text-align: center;
}

.panelTitle {
  float: left;
  margin-bottom: 5px;
  font-weight: Bold;
  width: 100%;
  word-wrap: break-word;
}

#nextSection {
  /*margin-bottom: 100px;*/
  margin-left: 350px;
  float: left;
}

.nextButton, #nextButtonHardware {
  width: 240px;
  height: 35px;
  /*margin-top: 50px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}

.nextTitle {
  /*background-color: #339ddb;;*/
  color: #339ddb;
  font-size: 20px;
  line-height: 39px;
  float: left;
  position: relative;
}

.nextImage {
  /*background-color: #db28d4;;*/
  color: #ffffff;
  float: left;
  margin-left: 20px;
  .thinBorder2{
    color: #000;
    padding: 10px;
    font-size: 17px;
  }

}

.nextTab {
  position: relative;
}

.editSave {
  &.closed {
    overflow: hidden;
    height: 0px;
  }
}

.optionsTitle {
  background-color: #00b3ee;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.title-table {
  font-weight: bold;
}

.rt-resizable-header-content {
  font-weight: bold;
  text-align: left;
}

.ReactTable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.ReactTable * {
  box-sizing: border-box
}

.ReactTable .rt-table {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  overflow: auto
}

.ReactTable .rt-thead {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ReactTable .rt-thead.-headerGroups {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.ReactTable .rt-thead.-filters {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead.-filters .rt-th {
  border-right: 1px solid rgba(0, 0, 0, 0.02)
}

.ReactTable .rt-thead.-header {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15)
}

.ReactTable .rt-thead .rt-tr {
  text-align: center
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  padding: 5px 5px;
  line-height: normal;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1.275);
  transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1.275);
  box-shadow: inset 0 0 0 0 transparent;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6)
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6)
}

.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
  cursor: pointer
}

.ReactTable .rt-thead .rt-th:last-child, .ReactTable .rt-thead .rt-td:last-child {
  border-right: 0
}

.ReactTable .rt-thead .rt-resizable-header {
  overflow: visible;
}

.ReactTable .rt-thead .rt-resizable-header:last-child {
  overflow: hidden
}

.ReactTable .rt-thead .rt-resizable-header-content {
  overflow: hidden;
  text-overflow: ellipsis
}

.ReactTable .rt-thead .rt-header-pivot {
  border-right-color: #f7f7f7
}

.ReactTable .rt-thead .rt-header-pivot:after, .ReactTable .rt-thead .rt-header-pivot:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none
}

.ReactTable .rt-thead .rt-header-pivot:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 8px;
  margin-top: -8px
}

.ReactTable .rt-thead .rt-header-pivot:before {
  border-color: rgba(102, 102, 102, 0);
  border-left-color: #f7f7f7;
  border-width: 10px;
  margin-top: -10px
}

.ReactTable .rt-tbody {
  -webkit-box-flex: 99999;
  -ms-flex: 99999 1 auto;
  flex: 99999 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tbody .rt-tr-group:last-child {
  border-bottom: 0
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-tbody .rt-td:last-child {
  border-right: 0
}

.ReactTable .rt-tbody .rt-expandable {
  cursor: pointer
}

.ReactTable .rt-tr-group {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.ReactTable .rt-tr {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.ReactTable .rt-th, .ReactTable .rt-td {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 5px;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: width, min-width, padding, opacity;
  transition-property: width, min-width, padding, opacity;
}

.ReactTable .rt-th.-hidden, .ReactTable .rt-td.-hidden {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0 !important
}

.ReactTable .rt-expander {
  display: inline-block;
  position: relative;
  margin: 0;
  color: transparent;
  margin: 0 10px;
}

.ReactTable .rt-expander:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  border-left: 5.04px solid transparent;
  border-right: 5.04px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.8);
  -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  cursor: pointer
}

.ReactTable .rt-expander.-open:after {
  -webkit-transform: translate(-50%, -50%) rotate(0);
  transform: translate(-50%, -50%) rotate(0)
}

.ReactTable .rt-resizer {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 0;
  bottom: 0;
  right: -18px;
  cursor: col-resize;
  z-index: 10
}

.ReactTable .rt-tfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.ReactTable .rt-tfoot .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-tfoot .rt-td:last-child {
  border-right: 0
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(0, 0, 0, 0.03)
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(0, 0, 0, 0.05)
}

.ReactTable .-pagination {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.ReactTable .-pagination .-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 3px;
  padding: 6px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  outline: none;
}

.ReactTable .-pagination .-btn[disabled] {
  opacity: .5;
  cursor: default
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center
}

.ReactTable .-pagination .-center {
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  text-align: center;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.ReactTable .-pagination .-pageInfo {
  display: inline-block;
  margin: 3px 10px;
  white-space: nowrap
}

.ReactTable .-pagination .-pageJump {
  display: inline-block;
}

.ReactTable .-pagination .-pageJump input {
  width: 70px;
  text-align: center
}

.ReactTable .-pagination .-pageSizeOptions {
  margin: 3px 10px
}

.ReactTable .rt-noData {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
  pointer-events: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5)
}

.ReactTable .-loading {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

.ReactTable .-loading > div {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-52%);
  transform: translateY(-52%);
  -webkit-transition: all .3s cubic-bezier(.25, .46, .45, .94);
  transition: all .3s cubic-bezier(.25, .46, .45, .94)
}

.ReactTable .-loading.-active {
  opacity: 1;
  pointer-events: all;
}

.ReactTable .-loading.-active > div {
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}

.ReactTable input, .ReactTable select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 5px 7px;
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none
}

.ReactTable input:not([type="checkbox"]):not([type="radio"]), .ReactTable select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.ReactTable .select-wrap {
  position: relative;
  display: inline-block;
}

.ReactTable .select-wrap select {
  padding: 5px 15px 5px 7px;
  min-width: 100px
}

.ReactTable .select-wrap:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px
}

.ReactTable .rt-resizing .rt-th, .ReactTable .rt-resizing .rt-td {
  -webkit-transition: none !important;
  transition: none !important;
  cursor: col-resize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.fill-cell {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.center {
  text-align: center;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

.report-confirm {
  width: 100px;
}

.defaults-title {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.defaults-required {
  display: block;
  font-size: 12px;
  list-style: none;
  color: #f05050;
}

.defaults-item {
  margin-bottom: 25px;
}

.defaults-checkbox {
  padding: 0 10px 0 0;
  input {
    margin-right: 4px;
  }
}

.report-request>* {
  display: inline-block;
  padding-right: 10px;
}

.report-datepicker {
  width: 100px;
  input {
    width: 100%;
    text-align: center;
  }
}

.indent-after {
  margin-bottom: 15px;
}

.table-striped > tbody > tr {
  cursor: auto;
}

.request-checkbox-container {
  position: relative;
  display: inline-block;
  > * {
    display: inline-block;
    padding-right: 10px;
  }
}

.request-notification {
  position: absolute;
  left: 0;
  bottom: -10px;
  color: #f05050;
  font-size: 0.85em;
}

.maxSize > div {
  width: 950px;
}

.horizontalLine {
  width: 100%;
  background-color: #000000;
  height: 2px;
}

.draggable {
  cursor: move;
}

.optionsBoxContent {
  min-height: 100px;
}

.deleting-row-container {
  position: relative;
}

.deleting-row {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.alignment {
  padding: 10px 0 0;
}

.alignment span {
  padding: 0 6px 0 0;
}

.editSaveOption {
  float: none;
}

.horizontalLine {
  background-color: #000000;
  height: 2px;
  width: 100%;
  margin: 10px 0 10px;
}

.systemName {
  font-size: 1.5em;;
}

.cartImage {
  width: 121px;
  height: 121px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.cartImage:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cartImageText {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.columnContainer {
  position: relative;
}

.numberOfItems {
  position: absolute;
  right: 0;
  top: 0;
}

.boldTitle {
  font-weight: bold;
}

.textBox {
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

.inputField {
  width: 220px;
  display: inline-block;
  border: 1px solid black;
  text-align: left;
  padding: 0 0 0 5px;
}

.withLabel {
  display: inline-block;
  margin: 0 0 0 5px;
}

.largeTitle {
  font-size: 2em;
}

.smallText {
  font-size: 0.8em;
}

.price {
  font-size: 1.8em;
}

.smallPrice {
  font-size: 1.3em;
}

.subTotal {
   font-size: 1.5em;
}

.smallSubTotal {
  font-size: 1.1em;
}

.largeSpace {
  padding: 50px 0;
}

.smallSpace {
  padding: 15px 0;
}

.columnContainer > div {
  margin-bottom: 10px;
}

.largeLogo > div.cartImage {
  width: 250px;
}

.mediumLogo > div.cartImage {
  width: 200px;
  height: 100px;
}

.smallLogo > div.cartImage {
  width: 150px;
  height: 70px;
}
.btn-focus {
  cursor: pointer;
}

div.listTable>div>div.table-responsive {
  overflow-x: visible;
}

#listTable > tbody > tr:last-child {
  font-weight: normal;
}

.with-label input {
  vertical-align: text-top;
  margin: 3px 0 0 5px;
}
.quantityBox{
  text-align: left;
  height: 35px;
  display: inline-block;
}
.qeddIcons{
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  .cartIcons{
    margin: 0 5px;
  }
}
.quantityLabel{
  display: inline-block;
  line-height: 35px;
  vertical-align: top;
  margin: 0 5px;
}
.quantityInput{
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  margin: 0 5px;
}
.accountLabels {
  float: left;
  width: 200px;
}
.accountListWrapper {
  clear: both;
}
.cost-form .control-label{
  float: left;
  margin-right: 10px;
}