
a{
    color:#23b7e5;
    cursor:pointer;
    &:hover{
        color:#23b7e5;
        text-decoration:none;
    }
}
.menu-panel{
  ul{
    li{
      &.active{
        a{
          background:#5d9cec;
          color:#fff;
          &:hover{
            background:#5d9cec;
            color:#fff;
            cursor:pointer;
          }
        }
      }
      a{
        border-radius:0px !important;
        cursor:pointer;
      }
    }
  }
}

.publish-system{
  margin: 15px 0 15px 15px;
}
.banner {
    float: left;
    height: 65px;
    width: 310px;
    font-size: 55px;
    text-align:center;
    padding-top: 5px;
    margin-bottom: 10px;
}
.thinBorder2 {
    border: solid;
    border-color: black;
    border-width: 1px;
}
.demoBanner {
    margin-bottom: 20px;
    max-width: 977px;
    padding: 2.5px;
}
.demoBanner a{
    margin: 15px;
    line-height: 70px;
}
.popover-content .btn i{
  margin-top:4px;
}

/*window*/
#windowOptions {
    margin-left: 10px;
}
.space {
    float: left;
    height: 10px;
    width: 100%;
}

.windowSection {
    float: left;
    margin-top: 27px;
    width: 36px;
    height: 100%;
    clear: left;
    .window_counter {
      background: black;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      font-weight: 200;
      font-size: 25px;
  }
}
.windowButton {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor:pointer;
}

.windowSeparator {
    float: left;
    width: 100%;
    height: 2px;
    background-color: #005580;
    clear: both;
}

.windowButtonImage {
    width: 100px;
    height: 90px;
    float: left;
}
.window-options{
    width: calc(100% - 50px);
}
.pricing-form .checkbox,
.parts-form .checkbox{
    display: inline-block;
    vertical-align: middle;
    margin: 6px 0 0 6px;
}

.myRight {
    margin-right: 5px;
}
button a,
button a:hover {
  text-decoration: none;
  color: #333;
}
.doors-list {
   width: 100%;
   height: auto;
   border-radius: 3px;
   background-color: #fafbfc !important;
   border: solid 1px #dde6e9;
   margin-bottom: 20px;
   .btn-default {
    color: #919292!important;
    font-family: 'Roboto', sans-serif;
  }
}
.doors-list .door{
    background-color: #fafbfc !important;
    margin: 0;
}



.purchasers-list div.purchaser-info.Customer-info {
    border-bottom: 1px solid #f3f3f3;
    
    height: auto !important;
}
.text-center.door_btn {
   display: inline-block;
   
}
.text-center.customer {
   display: inline-block;
}

.customer_btn{
    padding: 12px;
    display: inline-block;
}
.content {
   border-bottom: 1px solid #f3f3f3;
   margin: auto;
   padding: 21px 0px 0px 0px;
}
.content .service .row{
  margin-bottom: none;
}

.custom {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #656565;
}

.buttons.renderButton.btn-toolbar.btn-toolbar button {
   margin: 3px;
}

.nootes-door {
    margin: auto;
}

.bottom_border {
    border-bottom: 1px solid #f3f3f3;
    /*padding-bottom: 20px;*/
}

.notes_data.row{
  padding-bottom: 20px;
}

.door_margin.row {
    margin-top: 20px;
}

.notes_section {
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #656565;
    padding-top: 15px;
    width: max-content;
    padding: 0 10px;
}

.avatar_ .avatar.img-circle span {
    font-family: 'Roboto', sans-serif !important;
} 

.purchaser-info.Customer-info .info .name,.purchaser-info.Customer-info .email-phone ,.purchaser-info.Customer-info .address {
    font-family: 'Roboto', sans-serif !important;
}

.notes_text {
  opacity: 0.7;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #656565;
  padding: 10px 10px;
}

.customer_title {
   position: absolute;
   font-size: 15px;
   font-weight: 500!important;
   font-family: 'Roboto', sans-serif;
   color: #656565 !important;
   padding-top: 15px;
}

.avatar_ .avatar.img-circle {
    margin-left: 0;
    margin-top: 50px;
}
.avatar_ {
    margin-top: 10px;
}

.purchaser-info.Customer-info {
   border: none;
   margin: auto;}

button.cancelbtn.btn.btn-default {
    width: 116px;
}
    
img.innerlogo {

    width: 55px;
    height: 55px;
    float: left;
}
.innerlogo {
    width: 55px;
    height: 55px;
    float: left;
}
h2.logotext{
    float: left;
    margin: 13px 17px;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    vertical-align: middle;
}
.notiicon {
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal !important;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.avtarimg{
    width: 39px;
    height: 39px;
    margin-top: 8px;
}
.innernav {
    padding: 0;
    margin: 0;
    height: 0;
}
ul.nav.navbar-nav.navbar-right li {
    padding: 0px 0px !important;
}
/*ul.nav.navbar-nav.navbar-right li: last-child {
    padding: 0 !important;
} */
em.material-icons.arrowIcon {
    margin-right: 20px;
}
.user_header {
    margin: 0 20px;
}
ul.nav.navbar-nav.navbar-right.header_ {
    margin-right: 5px !important;
}
.inneravatar {
    display: inline-block;
}
.NavDropdown {
    display: inline-block;
}
button#dropdown-no-caret {
    background: #4fc3ea;
    border: none;
    color: #fff;
    box-shadow: none;
}
a.username {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
button a, button a:hover {
    text-decoration: none;
    color: #fff;
}
.arrowdown{
  vertical-align: middle;
}
.user{
  padding-top: 8px;
}

.user.expan_more {
    padding-top: 8px;
    align-items: center;
    display: flex;
}

.user.expan_more i.material-icons {
    color: #ffffff;
}

a.notification_Icon i.material-icons {
    color: #fff;
}

ul.dropdown-menu {
    margin-top: 8px;
}
.aside-collapsed .sidebar > .nav > li > a > span {
    display: list-item !important;
    padding: 0 25px;
}
a.navbar-brand {
    overflow: hidden;
}
.aside-collapsed .sidebar > .nav > li > a > span h5 {
    display: none;
}
ul.nav span {
    display: inline-block;
 }
 .headtext.col-md-5 {
    padding-top: 45px;
}
.purchaser-info .icon {
    margin-right: 6px;
    vertical-align: middle;
}

.service-modal.fade.in.modal .modal-content {
    box-shadow: none !important;
    border: none;
}

.fileInfo {
    height: 50px;
    position: relative;
}
.fileupload{
    
    .modal-title {
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.91;
        letter-spacing: normal;
        color: #ffffff;
        text-transform: capitalize;
    }
    .modal-content {
        height: calc(70vh - 60px);
    }
    .modal-body {
        height: 100%;
        overflow: auto;
        padding: 0 !important;
        margin: 0;
        background: #fff;
    }
    iframe {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }
  
}

.fileinfoDiv {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

div#progress {
    width: 100%;
    height: 100%;
    background-color: #23b7e5;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: all 0.4s;
}

.white .material-icons.md-dark {
    color: #fff !important;
}

.white .Textcolor {
    color: #fff !important;
}.Jobsection {
    height: calc(100vh - 322px);
    overflow: scroll;
    padding-top: 22px;
    overflow-x: hidden;
    margin-bottom: 15px;
    padding-right: 188px;
}
.job-order .panel-body {
    padding: 20px 7px 20px 32px !important;
}

.service.panel.panel-default .formbtns {
    margin-left: -33px;
}
.purchaser-info.JobCustomer .avatar {
    margin-top: 15px !important;
    margin-left: calc(37% - 5px) !important;
}
.purchaser-info .JobCustomer.info.name {
    padding-bottom: 3px !important;
    padding-top: 7px !important;
}
.purchaser-info.JobCustomer .name {
    padding-bottom: 2px;
    padding-top: 3px;
}
.purchaser-info.JobCustomer.info {
  padding: 2px 19px;
}
.purchaser-info.JobCustomer .address {
    line-height: 28px !important;
}
.purchaser-info.JobCustomer  {
    margin: 10px 0;
    height: 100%;}
.purchaser-info.Customer-info.Doorjob .info {
    padding-top: 44px;
}
.purchaser-info.Customer-info.Doorjob p.notes_section {
    width:  max-content !important;
}
button.Doorbtn.btn.btn-default {
    color: #656565;
    width: 70px;
    height: 33px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #dde6e9;
}

.Address_es {
    margin-bottom: -20px;
}
.customer_btn {
    padding: 7px;
    margin-bottom: 10px;
    display: inline-block;
}

.badge-primary {
  background-color: #23b7e5;
}
.badge-success {
  background-color: #468847;
}
.badge-warning {
  background-color: #f89406;
}
.badge-danger {
  background-color: #e95555;
}

.createJob {
    width: 100%;
}
.filename span {  
     vertical-align: top; 
}

span.Textcolor {
    margin: 5px 10px 0 10px;
}

.purchaser-info .avatar {
    margin-left: calc(50% - 12px) !important;
}

.customerAddress {
    margin-bottom: 20px;
}

.doors-list.door.address {
    margin-bottom: 34px;
}

.purchasers-list.purchase .avatar.img-circle{
    margin-top: 15px !important;
}
.content-wrapper h3 {
    padding: 27px;
}
#serviceTable_paginate .pagination > li > a {
    color: #5d9cec !important;
    background-color: #fff !important;
   
}
#serviceTable_paginate .pagination > .active > a {
    color: #fff !important;
    background-color: #5d9cec !important;
  }

.fileupload.DocsPreview .modal-content {
    height: calc(70vh - 60px) !important;
}

.fileupload.DocsPreview .modal-content .modal-body {
    overflow: hidden !important; 
}

.StatusDropdown ul.full-width.dropdown-menu{
    height: calc(40vh - 60px);
    overflow: auto;
    li {
        padding: 0 6px;
    }
}