.menu-panel .nav-justified > li, .menu-panel .nav-tabs.nav-justified > li{
	position:relative;
    padding-left:10px;
    border:none
}
.menu-panel ul.nav-justified{
    margin-top:15px;
    width:calc(100% - 60px);
    float:left;
}
.menu-list{
    display:table;
    width:100%;
    padding: 15px 0px;
}
.nav-justified > li, .nav-tabs.nav-justified > li .removeMenu{
	  position: absolute;
    border: 1px solid #e7e7e7;
    width: 20px;
    height: 20px;
    line-height: 17px;
    color: #000;
    top: 0;
    right: 0px;
}
.addMenuBtn{
		margin:15px 0 15px 8px;
		
        float:left;
	  width: 50px;
    border: 1px solid #ddd;
    background: #edf1f2;
    cursor:pointer;
	a{
	  display: block;
    width: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    text-decoration:none;
	}
}
.bluebar {
    height: 10px;
    margin: 15px 0px;
    width: 100%;
    border: none;
    background: #5d9cec;
}
[contenteditable]:empty:before {
    content: attr(placeholder);
    display: block;
}
.editable-text[contenteditable] {
    margin-bottom:10px;
    padding:5px 10px;
    font-weight:bold;
}
.editable-text[contenteditable=true] {
    border:1px solid #ccc;
    
}
.editable-textarea[contenteditable] {
    margin-bottom:10px;
    padding:5px 10px;
    min-height:55px;
}
.editable-textarea[contenteditable=true] {
    border:1px solid #ccc;
}
.glassBg{
    padding:10px;
    background:#23b7e5;

    .glass-name{
        font-size:20px;
        color:#fff;
        padding:4px;
    }
}
.dimensionFrom{
    .input-group, label, .input-group-addon{
        position:relative;
    }
}
