table th {
    text-transform: capitalize;
    word-wrap: normal;
    word-break: break-word;
    white-space: nowrap;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child{
	overflow:auto;
}
label.control-label {
   /* text-transform: capitalize;*/
}
.cerror {
    border-color:red
}
.cterror {
    color:red
}
.modal-title h2{
	text-align:center
}
.panel-dark {
  @include panel-variant($panel-global-border, #fff, $brand-dark, $brand-dark);
  a{
  	font-size:20px;
  	color:#fff;
  }
}

.dropdown-properties {
  display: inline-block;
}