.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.full-width{
    width: 100% !important;
}

@media screen and (max-width: 624px) {
    .rendertechJobs{
        font-family: 'Roboto', sans-serif;
    }
    
}

@media screen and (max-width: 320px) {
    .dateLocator {
        .datePicker {
            width: 75% !important;
        }
        .spaceIcon {
            padding: 8px !important;
        }
    }

    .introInfo.customer {
        border-bottom: none;
        margin-top: 18px;
        border-radius: 1.5px;
        padding: 13px 0px;
        background-color: #fafbfc;
        border: solid 0.5px #dde6e9;
    }
   
}

@media screen and (max-width: 600px) {
    .dateLocator .datePicker {
        width: 75% !important;
    }

    .dateLocator {
        padding: 15px 4px;
        margin-bottom: 30px;

        // .service-datepicker .rdtPicker {
        //     width: 240px !important;
        // }
    }

    .itemRectagle {
       
        .itemContent {
            padding: 7px 16px;
            width: 100%!important;

            .avatar.img-circle {
                background-color: #fff;
                width: 50px;
                height: 50px;
                border: solid 1px #dde6e9;
                text-align: center;

                span {
                    font-size: 20px;
                    color: #23b7e5;
                    line-height: 50px;
                    text-transform: uppercase;
                }
            }
        }
    }

}


.jobheader {
    background: #4ec2e9;
    .nav > li > a {
        color: #fff;
    }
    .nav-pills > li {
        width: 32.9%;
    }
    .nav .fa {
        height: 23px !important;
    }
}

.user_name .page-header h1 {
    margin: 0;
    font-size: 16px;
    padding: 8px 15px;
    color: #656565;

    span.userText {
        font-weight: 300;
    }
}

.dateLocator {
    padding: 15px 1px;
    margin-bottom: 30px;

    span.datePicker {
        width: 75%;
    }
    
    span.pull-right.pickerIcon {
        width: 25%;
        text-align: center;
    }
    .spaceIcon {
        padding: 10px;
        font-size: large !important;
    }
    .locationIcon {
        padding: 10px;
        font-size: large !important;
    }   
}

.itemRectagle {
    min-height: 110px;
    border-radius: 3px;
    background-color: #fafbfc;
    border: solid 1px #dde6e9;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;

    .itemHeader {
        font-size: 15px;
        color: #707070;
        padding: 7px 16px;
        width: 100%;
        border-bottom: solid 1px #dee7ea;
    }

    .itemContent {
        padding: 7px 16px;
        width: 100%!important;

        .avatar.img-circle {
            background-color: #fff;
            width: 50px;
            height: 50px;
            border: solid 1px #dde6e9;
            text-align: center;

            span {
                font-size: 20px;
                color: #23b7e5;
                line-height: 50px;
                text-transform: uppercase;
            }
        }

        li {
            list-style-type: none;
            font-size: 13px;
            
            a {color: #656565 !important;}

            span.contacts {
                opacity: 0.7;
            }
        }

        button {
            border-radius: 100px !important;
            border: solid 1px #23b7e5!important;
            font-size: 12px;
            font-weight: 500;
            box-shadow: none;
            color: #23b7e5 !important;
        }

        .button_ {
            padding: 13px;
        }

        .info {
            padding: 5px 12px;
            span.name {
                font-size: 15px;
            }
        }
    }
}

.rendertechJobs .addressMap {
    height: 600px;
}

.sideBar {
    position: fixed;
    background: #4fc3ea;
    height: 100%;
    width: 70%;
    z-index: 5;
    top: 0;
    margin-left: -400px;
    transition: all 0.4s;
    left: 0;

    &.open {
        margin-left: 0
    }

    .closeSidebar{
        display: flex;
        position: fixed;
        margin-left: 70%;

        a {
            color: #fff;
            height: 43px;
            width: 43px;
            padding: 8px 15px;
            font-size: 17px;
            // background: #47b1d3;
            // border: 1px solid #24b0dc;
            border-radius: 35px;
        }
    }

    .header_ {
        padding: 12px 20px;
        width: 100%;
        background: #47b1d3;
        
        display: flex;

        .header_line {
            padding: 4px 12px;
            span {
                width: 100%;

            }
            span.userName {
                font-size: 15px;
                font-weight: 500;
            }

            span.profile a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    .sideContent {
        width: 100%;
        display: inline-block;
        padding: 9px 0px;
        margin-left: -20px;
        
        li {
            list-style: none;
            width: 100%;
            a{
                color: #fff;
            }
        }
    }

    .sideFooter {
        position: absolute;
        display: flex;
        bottom: 0;
        background: #47b1d3;
        width: 100%;
        padding: 14px 23px;

        a {
            color: #fff;
        }
    }
    
}

#service-address-list-popup {
    max-width: 330px;
    background-color: transparent;
    
    .popover-content {
        padding: 0;
    }

    .item_div {
        .container {
            background-color: transparent;
            padding: 0px;
        }
    }

    .popover {
        border-color:transparent !important;
        border-bottom: 0 !important;
    }
}

#service-address-list-popup .itemRectagle {
    margin-bottom: 0 !important;
}


li.text-center.DetailNav {
    width: 100% !important;
}

.introInfo {
        width: 100%;
        padding: 15px 0px;
        font-family: 'Roboto', sans-serif;
        border-bottom: 1px solid #d6dbdf;

    span.JobNumber {
        width: 100%;
        float: left;
        font-size: 20px;
        color: #515151;
    }   
    
    span.tech {
        opacity: 0.7;
        font-size: 11px;
        font-weight: 500;
        color: #656565;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        float: left;
    }
}

.introInfo.pull-left.customer {
    border-bottom: none;
    margin-top: 18px;
    border-radius: 1.5px;
    padding: 13px 0px;
    background-color: #fafbfc;
    border: solid 0.5px #dde6e9;
}

.techLoader {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.item_div.items {
    float: left;
    width: 100%;
}

.info-item {
    i {
        margin-right: 5px;
        margin-top: 5px;
    }
}

.jobs-customer-list {
    margin-top: 10px;
    float: left;
    width: 100%;
}