.service{
  font-family: 'Roboto', sans-serif;
  color: #656565;
  &.person-form{
    .form-group, .with-note{
      margin-bottom: 0;
    }
  }
  .form-control{
    font-size: 13px;
  }
  .form-control::placeholder{
    font-size: 13px;
  }
  .panel-heading{
    font-size: 22px;
    line-height: 26px;
  }
  .panel-heading,
  .panel-body{
    padding: 26px 100px 26px 29px;
  }
  .row{
    position: relative;
    margin-bottom: 24px;
    &.trait{
      margin-bottom: 14px;
    }
  }
  .btn-toolbar button{
    margin-right: 10px;
    min-width: 70px;
  }
  .help-block{
    margin: 0;
  }
  .control-label{
    text-align: left !important;
    font-weight: normal;
    height: 30px;
    line-height: 35px;
    padding: 0 0 0 20px;
    font-size: 13px;
  }
  .react-datepicker__input-container{
    width: 100%;
  }
  .note{
    margin-bottom: 14px;
  }
  textarea{
    resize: none;
  }
  .no-pd{
    padding: 0;
  }
  .no-pd-r{
    padding-right: 0;
  }
  .no-pd-l{
    padding-left: 0;
  }
  .mb-0{
    margin-bottom: 0;
  }
}
.form-divider{
  border-bottom: 1px dashed #d9d9d9;
  margin: 24px 1px;
}
.doors-list{
  .door{
    margin-bottom: 10px;
    background: lightgreen;
  }
}
.dropdown.full-width{
  .caret{
    float:right;
    margin-top: 8px;
  }
}
.service-dialog{
  .row{
    margin: 10px 0;
  }
}
.add-order{
  label{display: block}
}

.purchaser-info{
  margin: 10px 0;
  height: 100px;
  border-radius: 3px;
  background-color: #fafbfc;
  border: solid 1px #dde6e9;
  .avatar{
    background-color: #fff;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: calc(50% - 25px);
    border: solid 1px #dde6e9;
    text-align: center;
    span{
      font-size: 20px;
      color: #23b7e5;
      line-height: 50px;
      text-transform: uppercase;
    }
  }
  .buttons{
    margin-top: 35px;
  }
  .info{
    margin: 17px 0;
    .name{
      font-size: 15px;
    }
  }
  .icon:before {
    font-size: 16px;
    color: #333d47;
  }
  .icon{
    margin-right: 6px;
  }
  .email-phone, .address{
    color: #919292;
    margin-right: 15px;
    font-size: 13px;
  }
}

.trait-remove{
  font-size: 20px;
  cursor: pointer;
}

.door-notes, .door-customers{
  li{
    position: relative;
    list-style: none;
  }
  span{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.dropzone{
  height: 110px;
  border-radius: 3px;
  background-color: #fafbfc;
  border: solid 1px #dde6e9;
  position: relative;
  .panel-body{
    position: absolute;
    text-align: center;
    font-size: 13px;
    width:100%;
    padding: 23px;
    margin: auto;
    top:0;
    bottom:0;
  }
  .file-select-btn{
    margin-top: 18px;
    button{ width: 116px }
  }
}

.search-results{
  width: 477px;
  max-height: 198px;
  border-radius: 3px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  border: solid 1px #e1e1e1;
  margin-left: 60px;
  padding: 5px 0;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 1000;
  right: 24px;
  margin-top: -25px;
  .no-results{ margin-left: 19px}
  .person{
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    &:hover .name{color:#fff}
    .name{
      display: inline-block;
      margin-left: 19px;
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 130px;
      white-space: nowrap;
      color: #4c4f54;
    }
    .address{
      display: inline-block;
      margin-left: 45px;
      opacity: 0.6;
      font-size: 12px;
      width: 190px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &:hover {
      color: #fff;
      background-color: #428bca;
    }
  }
}
.full-width{
  width: 100%;
}
.custom-select {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 1.52857;
  padding: 6px 15px;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #dde6e9;
  border-radius: 0.25rem;
  text-align: left;
  -webkit-appearance: none;
  &.no-val{
    color: #999;
  }
}

.service-datepicker{
  color: #2f3132;
  .rdtPicker{
    padding: 0;
    right: 0;
    width: 263px;
    th{
      height: auto;
      font-size: 12px;
    }
  }
  table{
    border-collapse: separate;
    border-spacing: 2px;
  }
  .dow, .rdtSwitch{
    font-weight: normal;
  }
  .rdtDay {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: solid 1px #cccccc;
    height: 29px;
    line-height: 29px;
    border-radius: 3px;
  }
  .rdtActive {
    background-color: #23b7e5;
  }
  .rdtPicker td.rdtToday:before{
    display: none;
  }
  .rdtPrev, .rdtSwitch, .rdtNext{
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.service-modal{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0 !important;
  .control-label{
    padding: 0 0 0 16px;
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog{
    width: 789px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .modal-header{
    height: 60px;
    background-color: #3a3f51;
    color: #fff;
    line-height: 60px;
    padding: 10px 20px 8px 26px;
    .fa{
      float: right;
      margin-top: 8px;
      color: #fff;
      cursor: pointer;
    }
  }
  .modal-title{
    font-size: 22px;
    line-height: 40px;
  }
  .modal-body{
    padding: 24px;
  }
}

.Doc_uploader div {
    text-align: center;
    height: 40px !important;
    width: 100% !important;
    border-color: #dde6e9 !important;
    line-height: 2.5;}

.Doc_uploader aside p {
    display: inline-flex;
}
.doc_name {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: solid 2px #dde6e9;
    line-height: 3.2;
    border-style: dashed;
}
button.pull-right.another {
    margin-top: 10px;
}
.doc_name p {
    padding: 0 15px;
}



.service-file{
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  border: dashed 2px #dde6e9;
  padding: 12px 0;
  margin-bottom: 15px;
  &.uploading{
    padding: 8px 0;
  }
  .material-icons{
    cursor: pointer;
  }
  .filename{
    font-size: 13px;
    a{color: #656565;}
  }
}
.service-progress-bar{
  height: 10px;
  background-color: #edf1f2;
  .progress{
    background-color: #23b7e5;
  }
}

.top-section{
  margin-top: 6px;
  margin-bottom: 15px;
  .orders-search{
    width: 375px;
  }
}

#serviceTable_wrapper{
  font-family: 'Roboto', sans-serif;
  #serviceTable{ width: 100% !important; }
  .table > thead > tr > th{
    padding: 16px 8px 16px 12px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #929292;
    height: 16px;
  }
  table.dataTable thead{
    .sorting:after,
    .sorting_asc:after,
    .sorting_desc:after,
    .sorting_asc_disabled:after,
    .sorting_desc_disabled:after{
      bottom: 15px;
    }
  }
  .table td{
    padding: 11px 12px;
    font-size: 13px;
    line-height: 1.62857;
  }
  .pagination > li > a,
  .pagination > li > span{
    padding: 6px 12px;
  }
  .dataTables_paginate{
    text-align: left;
    margin-top: 11px;
  }
  .dataTables_filter{
    text-align: left;
  }
}
.nav{
  > li > a{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }
  .fa{
    font-size: 20px;
    margin-right: 10px;
    height: 26px;
    vertical-align: middle;
  }
}

.text_content {
    color: #919292;
}

.anotherAddress {
    margin-top: 10px;
}
.ServiceAddress .purchaser-info {
    height: 100%;
    margin: 0;
}
.ServiceAddress {
    margin-bottom: 20px;
}
.Jobsection {
    height: calc(100vh - 322px);
    overflow: scroll;
    padding-top: 22px;
    overflow-x: hidden;
    margin-bottom: 15px;
 }
 .addressMap {
    width: 100%;
    overflow: hidden;
    height: 150px;
 }

.innerJob {
    width: 49% !important;
}
.attached-addresses{
  .header{
    font-size: 15px;
    margin-bottom: 15px;
    span{
      font-weight: bold;
    }
  }
  .attached-item{
    width: 361px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #fafbfc;
    cursor: pointer;
    &:nth-child(even){
      margin-right: 17px;
    }
    &:hover, &.selected{
      background-color: #edf1f2;
    }
    .name{
      font-weight: bold;
      margin-right: 10px;
    }
  }
}
.no-pd-r{
  padding-right: 0;
}
.no-pd-l{
  padding-left: 0;
}
.door-info{
  .door-type{
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
  }
  .door-warranty{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.7;
    span{font-weight:bold}
  }
  .door-traits{
    font-size: 13px;
    opacity: 0.7;
    .trait-type{font-weight: bold}
  }
}
.selected-door-info{
  width: 615px;
  // height: 104px;
  border-radius: 3px;
  background-color: #fafbfc;
  border: solid 1px #dde6e9;
  padding: 13px 17px;
  .door-traits{
    display: inline-block;
    margin-right: 25px;
  }
}
.service .badge{
  border-radius: 3px;
  font-weight: normal;
}
.btn-info{
  background-color: #5d9cec;
}
.content-wrapper > h3{
  font-size: 22px;
}
.btn {
  .btn-toolbar.wide &,
  .service-modal .btn-toolbar & {
    min-width: 116px;
  }
}

.table-hover > tbody > tr:hover {
  background-color: #eeeeee;
}

.selectStatus {
  border: 1px solid #dde6e9;
  border-radius: 0.25rem;
  text-align: left;
  display: inline-block;
  width: 100%;
  line-height: 1.52857;
  font-size: 14px;
  padding: 6px 15px;
  background: #fff;
  box-shadow: 0 0 0 #000 !important;

  p{
    margin: 0;
  }
}

.sq-popover {
  max-width: initial;
}

.sq-popover-content {
  position: absolute;
  z-index: 99999;
  box-shadow: 0 1px 2px 0 rgba(203, 197, 197, 0.5);
  border-radius: 1.5px;
  background-color: #ffffff;
  border: solid 0.5px #dde6e9;
  padding: 0px 20px 20px 20px;
}

.jobStatusList {
  display: flex;

  .jobFilterList {
    margin-right: 30px;
  }

 
  .headerFilter {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: #666666;
      margin: 0 0 10.5px;
      position: absolute;
      top: 0px;
      display: flex;
      z-index: 99999;
      background: #ffffff;
      padding-bottom: 2px;

      p {
        opacity: 0.5;
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    .filterList {
      opacity: 1;
      border-bottom: solid 0.5px #dde6e9;
      cursor: pointer;
      width: 230px;
      padding-top: 15px;

      em.fa.fa-caret-right {
        float: right;
      }
    }

    .filterList.active{
      color: #23b7e5;
      font-weight: bold;
    }

    .optionStatusList {
      min-width: 200px;
      height: 220px;
      overflow: auto;
      padding-top: 48px;
    }
}

.jobFilePoster_img{
    display: flex;
    align-items: center;

  .jobFile_img{
    display: flex;
    align-items: center;

    .playPoster {
      display: inherit;
      position: absolute;
      background-color: transparent;
      color: #ffffff;
      padding: 10px 0px 0px 11px;
    }
    .playPoster i.fa.fa-play-circle-o {
      font-size: 32px !important;
    }
  }
}

.file_poster_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.posterFile {
  height: 78px !important;
}

.warranty_tab_title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 0.1px;
  color: #707070;
  padding-bottom: 6px;
}

.orderWarranty label.control-label {
  padding: 27px 0 0px 20px !important;
}