
.deleteJobFile .modal-dialog {
    max-width: 518px !important;
}

.fileAvatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.JobFileViewer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.removeButton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content_ p {
    color: #060606;
    font-family: 'Roboto', sans-serif;
}

.deletePreview {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.deleteJobFile .modal-content {
    border-radius: 0;
}

.AddUpload .modal-content {
    border-radius: 0;
}

.service-modal.fileupload .modal-content {
    height: auto;
}

.service-modal.fileupload .modal-footer {
    border-top: 1px solid transparent;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 20px;
}

.JobDetail_Header {
    display: inline-block;
    width: 100%;
    padding-right: 188px;

    h4.jobfill {
        float: left;
        padding-left: 4px;
    }

    .job_headerBtn{
        float: right;
        
        button.cancelbtn.btn.btn-default{
            margin-right: 0px !important;
        }
    }

    &.activity {
        margin-bottom: 20px;
        padding-right: 0px;
    }
}

.jobActivityContainer {
    padding-right: 180px !important;
}

.backtoDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    i.material-icons.md-24.md-dark{
        font-size: 20px;
        margin-right: 5px;
    }
}

.disabled {
    background-color: #eef1f2
}


.activily_ListDiv {
    padding: 5px;
    
    h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #656565;
    }
}


.activityDiv{
    width: 100%;
    float: left;
    padding-bottom: 6px;
    padding-top: 20px;
    color: #656565;
    font-family: 'Roboto', sans-serif;
}

.borderLine {
    border-bottom: solid 0.5px #dde6e9;
    width: 97%;
}

.activity_icon {
    margin-top: 3px;
}

.borderLine > div {
    margin-bottom: 7px;
}

.job_email_tab {
    margin-right: 12px;
}

.job_email_container {
    padding: 10px 50px 0 10px;

    .sq-popover-content {
        padding: 0 !important;
        margin-left: -55px;
    }

    .JobDetail_Header.email_header {
        padding-right: 0;
        border-bottom: solid 0.5px #ececec;

        h4 {
            align-items: center;
            display: flex;
        }
    }

    .email_filter {
        padding: 5px;
        cursor: pointer;

        .filter_title {
            padding: 5px 13px;
            float: left;
            margin-bottom: 10px;
            min-width: 160px;
            background-color: #fafbfc;

            p {
                margin: 0;
                letter-spacing: 0.6px;
            }
        }

        .filter_Tabs {
            padding: 3px 13px;

            .filter_btn {
                padding: 5px 0 16px 0px;

                a.select_by.active {
                    padding: 4px 18px;
                    border-radius: 3px;
                    background-color: #23b7e5;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    color: #fff;
                }
            }

            .select_fileBy {
                padding: 3px 0;

                .selected_field {
                    padding: 5px 0px;

                    span.filterName {
                        margin-left: 8px;
                        letter-spacing: 0.6px;
                    }
                }
            }
        }
    
        em.fa.fa-filter {
            font-size: 25px;
            margin-left: 10px;
        }
    }

    .search_header {
        border-bottom: solid 0.5px #ececec;

        .top-section.row {
            margin-bottom: 10px;

            .new_massage {
                padding: 5px 30px 5px 30px;
                margin-top: 3px;
                background-color: #23b7e5;
                color: #ffffff;
              }
        }
    }
}

.email_contentBar {
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    

    .email_preview {
        height: 100%;
        overflow: auto;
        width: 40%;
        float: left;

        .preview_component.active {
            background-color: #ffffff !important;
            border-left: 4px solid #23b7e5;
            opacity: 0.96;
            border-radius: 1.8px;
            cursor: pointer;
        }

        .preview_component {
            opacity: 0.96;
            background-color: #fafbfc;
            font-family: 'Roboto', sans-serif;
            padding: 15px 25px 10px 37px;
            cursor: pointer;

            .read_unread {
                height: 12px;
                width: 12px;
                border-radius: 50%;
                opacity: 0.5;
                background-color: #23b7e5;
                position: absolute;
                margin: 23px 0px 0px -25px;
                display: flex;
            }
        
            .email_componentHeader {
                width: 100%;
                display: inline-block;
        
                .name {
                    float: left;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #6e6e6e;
                }
        
                .day_time {
                    float: right;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #6e6e6e;
                }
            }
        
            .component_Title {
                font-size: 16px;
                font-weight: normal;
                line-height: normal;
                color: #4a4a4a;
            }

            .component_Text {
                p.email_description {
                    margin: 0;
                }
            }
        }
    }

    .email_massanger {
        height: 100%;
        overflow: auto;
        width: 60%;
        display: inherit;
        padding: 0 15px 0 22px;

        .openEmailHeader {
            padding: 52px 0 0 0;
            

            .openEmail_title {
                font-family: 'Roboto', sans-serif;
                font-size: 22px;
                line-height: normal;
                letter-spacing: normal;
                color: #4c4f59;
            }

            .openEmail_userInfo {
                padding: 49px 0 27px 70px;

                .openEmail_titleName {
                    display: inline-block;
                    width: 100%;

                    .openEmail_name {
                        float: left;
                        font-size: 16px;
                        font-weight: normal;
                        line-height: normal;
                        color: #4a4a4a;
                    }  

                    .openEmail_elapse {
                        opacity: 0.3;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        line-height: normal;
                        text-align: right;
                        color: #4c4f59;
                    }
                }

                .openEmail_mail span.emailFrom {
                    font-weight: 300;
                    color: #6b6e7f;
                    margin-right: 5px;  
                }

                .openEmail_mail {
                    font-size: 12px;
                }
            }
        }

        .openEmailDiv {
            padding: 35px 0 35px 0;

            .email_textArea-1 {
                padding-bottom: 28px;
            }

            .email_textArea-2 {
                line-height: 1.71;
                letter-spacing: normal;
                color: #65676e;
            }

            .email_textArea-3 {
                padding-top: 21px;
                line-height: 2.14;
            }
        }

        .OpenEmailFooter {
            margin-top: 25px;
            
            .emailReplyBtn {
                border-radius: 34px;
                text-align: center;
                align-items: center;
                width: 130px;
                padding: 10px 0;
                margin-right: 16px;
                color: #ffffff;
                background-color: transparent;
    
                .jobEmailReply {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #999eb1;
                }

                .jobEmailReply.forword i.material-icons {
                    transform: scaleX(-1) !important;
                }
            }

            .emailReplyBtn:hover{
                background-color: #23b7e5;
                color: #ffffff;

                .jobEmailReply{
                    color: #ffffff;
                }
                .jobEmailReply i.material-icons {
                    color: #ffffff;
                }
            }
        }
    }
}


.newMessage {
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 20px;
    background-color: #ffffff;
    width: 450px;
    border: solid 0.5px #f3f3f3;
    height: 70vh;
  
    .newMessage_container {
      bottom: 0;
      right: 15px;
      background: #ffffff;
      width: 100%;
      height: 100%;
    
        .newMessage_header {
            display: inline-block;
            width: 100%;
            background: #23b7e5;
            padding: 9px 12px;
            color: #ffffff;

            .newMessage_close {
                cursor: pointer;

                i.material-icons.md-24.md-dark {
                    color: #ffffff !important;
                }   
            }
        }

        .newMessage_Content_Div {
            height: calc(100% - 39px);
        }
  
      .newMessage_footer button {
        padding: 10px 27px;
        margin: 14px 0px 5px 0;
        background-color: #23b7e5;
        color: #ffffff;
        border-radius: 3.5px;
      }
  
      .newMessage_footer {
        font-family: 'Roboto', sans-serif;
        color: #4a4a4a;
        width: 100%;
  
        .newMessage_bold_text {
          width: 100%;
        }
  
        .newMessage_text {
          color: #d2d0d0;
          width: 100%;
        }
      }
    }
  
    .newMessage_input {
      padding-bottom: 8px;
      background-color: #ffffff;
    }
  
    .newMessage_input input.form-control {
      border-top: none;
      border-left: none;
      border-right: none;
    }
    
    .newMessage_input textarea {
        height: 100%;
        width: 100%;
        border: none;
    }

    .newMessageButtons {
        .attach {
            padding: 31px 0 0 15px;
            font-size: 16px;
            cursor: pointer;

        }

        .FontSelector {
            padding: 31px 0 0 15px;
            font-size: 16px;
            cursor: pointer;

        }
    }
    
}


.dividerLine {
    border: 0.5px solid #f4f4f4;
}

.tabWithError{
    position: absolute;
    bottom: 0px;
}