.dimensionBorder {
  border-color: #c1c1c1;
  border-style: solid;
}


#windows {
  width: 100%;
  height: 600px;
  float: left;
  display: inline-block;
}


#windowBuilderSection {
  display: none;
  float: left;
  margin-bottom: 20px;
}


#w1, #w2 {
  width: 100px;
  height: 90px;
}


#topDimension, #bottomDimension {
  width: 100%;
  float: left;
}


#bottomDimension {
  padding-left: 93px;
  margin-bottom: 20px;
  margin-top: 2px;
}


#totalHorizontal {
  margin-left: 0px;
  float: left;
}


#horizontalSizes {
  height: 30px;
  margin-left: 93px;
  float: left;
}

#mainFrame {
  background-color: #f4f4f4;
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-top: 5px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  float: left;
}

.window-container{
  outline: 1px solid red;
  float: left;
}

.frame {
  background-color: #f4f4f4;
  margin: 5px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  float: left;
}


.sash{
  float: left;
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 85px;
  height: 35px;
}

.sash-container{
  float: left;
}

.dimensionBottom, .dimensionTop{
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  width: 50px;
  height: 22px;
  float: left;
  text-align: center;
}


.dimensionTop{
  margin-top: 2px;
}


.dimension, .dimensionVertical {
  width: 50px;
  height: 22px;
  float: left;
  text-align: center;
}


.dimensionVertical {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}


.backgroundPink {
  background-color: pink;
}


.dimensionVerticalLeft {
  float: right;
  margin-right: 20px;
}

.dimensionVerticalLeftPlus {
  float: right;
  margin-right: 30px;
}


.holder {
  float: left;
}


#verticalSizes {
  width: 91px;
  margin-right: 0px;
  float: left;
  margin-top: 4px;
}


.dimensionVerticalBox {
  width: 100px;
  margin-top: 1px;
}


.dimensionHorizontal {
  height: 100px;
}


.topLeft, .bottomLeft, .topRight, .bottomRight, .bottomRightRight {
  height: 100px;
  width: 50px;
  float: left;
  border-width: 0px;
}


.hasBorderRightTop {
  margin-top: -1px;
  border-right-width: 1px;
  border-top-width: 1px;
  height: 99px;
  width: 40px;
}


.hasBorderLeftTop {
  margin-top: -1px;
  border-left-width: 1px;
  border-top-width: 1px;
  width: 40px;
}


.bottomRight {
  width: 40px;
  height: 100px;
}


.bottomRightRight {
  width: 40px;
  height: 100px;
  margin-bottom: 1px;
}


.hasBorderLeftBottom {
  border-left-width: 1px;
  border-bottom-width: 1px;
  height: 99px;
  width: 40px;
}


.hasBorderRightBottom {
  border-right-width: 1px;
  border-bottom-width: 1px;
  height: 99px;
  width: 40px;
  margin-bottom: 0px;
}


.middleText {
  margin-top: 3px;
  height: 25px;
  float: left;
  width: 100%;
}


.windowSpacer {
  width: 100%;
  height: 10px;
  float: left;
}


.leftHorizontal, .rightHorizontal, .leftHorizontalBottom, .rightHorizontalBottom {
  height: 50px;
  width: 50px;
  float: left;
  border-width: 0px;
}


.leftHorizontalBottom, .rightHorizontalBottom {
  margin-top: 0px;
  width: 49px;
  height: 20px;
  border-bottom-width: 1px;
}


.leftHorizontalBottom {
  margin-right: 6px;
  //margin-left: -1px;
  border-left-width: 1px;
}


.rightHorizontalBottom {
  margin-left: 6px;
}


.leftHorizontal {
  margin-top: 10px;
  margin-right: 6px;
  //margin-left: -1px;
  width: 49px;
  height: 20px;
  border-left-width: 1px;
  border-top-width: 1px;
}


.rightHorizontal {
  margin-top: 10px;
  margin-left: 6px;
  width: 49px;
  height: 20px;
  border-top-width: 1px;
}

.rightHorizontal.last,
.rightHorizontalBottom.last {
  border-right-width: 1px;
}


.middleTextHorizontal {
  margin-left: 0px;
  float: left;
}

.middleTextHorizontalBottom {
  margin-left: 0px;
  float: left;
  margin-top: 10px;
}

.horizontalSpacer {
  width: 10px;
  float: left;
  height: 20px;
}


.horizontalBox {
  height: 30px;
  float: left;
}


.leftDimensionTop, .leftDimensionBottom, .rightDimensionTop, .rightDimensionBottom {
  border-width: 0px;
  margin-left: 0px;
  width: 40px;
  height: 20px;
  float: left;
}


.rightDimensionTop {
  margin-left: 49px;
  border-left-width: 1px;
  border-top-width: 1px;
}


.leftDimensionTop {
  border-right-width: 1px;
  border-top-width: 1px;
}

.rightDimensionBottom {
  margin-left: 49px;
  border-left-width: 1px;
  border-bottom-width: 1px;
}


.leftDimensionBottom {
  border-right-width: 1px;
  border-bottom-width: 1px;
}


.totalVerticalDimension {
  float: left;
  margin-top: 3px;
}


.bottomDimensionLeft, .bottomDimensionRight, .topDimensionLeft, .topDimensionRight {

  border-width: 0px;
  width: 49px;
  height: 20px;
  float: left;
}


.topDimensionLeft {
  margin-top: 10px;
  border-left-width: 1px;
  border-top-width: 1px;
}


.topDimensionRight {
  margin-top: 10px;
  border-right-width: 1px;
  border-top-width: 1px;
}

.bottomDimensionLeft {
  border-left-width: 1px;
  border-bottom-width: 1px;
}

.bottomDimensionRight {
  border-right-width: 1px;
  border-bottom-width: 1px;
}

#operations {
  display: inline;
  float: left;
  margin-left: 140px;

}

.operation {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 30px;
  opacity: .25;
}

.selectedOpener {
  width: 100%;
  height: 100%;
  float: left;
  opacity: 0.3;
  background-color: #0088cc;

}

.selectedWindow {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #0088cc;
}


.selectedOption {
  width: 75px;
  height: 75px;
  float: left;
  background-color: #0088cc;
}


.hingeBorder {
  border-width: 2px;
  border-style: solid;
  border-color: #bcbcbc;
}


.windowButton {
  cursor: pointer;
}

.sashNote {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
  float: left;
}

.unSelectable {
  border: none;
}

.unSelectableBumpLeft {
  margin-left: 15px;
  //margin-top: 6px;
  //margin-bottom: 6px;

}

.unSelectableBumpDown {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}


.unSelectableBumpUp {
  margin-top: 2px;
  //margin-left: 5px;
  //margin-right: 6px;
}


//Needs to be after all other dimensions
.newTotalVertical {
  margin-top: 4px;
}


.dimensionBumpUpOne {
  margin-top: -1px;
}


.newHorizontalSizes {
  padding-left: 1px;
}


.bottomDimensionOverOne {
  margin-left: 1px;
}